Repository posit-dev/ptd: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-python-pulumi, test-cmd, test-lib

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format
        name: Format code
        entry: just format
        language: system
        pass_filenames: false

      - id: check
        name: Lint code
        entry: just check
        language: system
        pass_filenames: false

      - id: test-python-pulumi
        name: Test Python Pulumi
        entry: just test-python-pulumi
        language: system
        pass_filenames: false
        files: ^python-pulumi/.*\.py$

      - id: test-cmd
        name: Test CLI
        entry: just test-cmd
        language: system
        pass_filenames: false
        files: ^cmd/.*\.go$

      - id: test-lib
        name: Test lib
        entry: just test-lib
        language: system
        pass_filenames: false
        files: ^lib/.*\.go$

chore(release): 1.5.1 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  a2d694a3afd79eea5a9099a1960cb6199c4c95a7
Due: none

fix: bump default alb latency alert threshold
  python-pulumi/src/ptd/grafana_alerts/loadbalancer.yaml
Due: none

feat: add automation for assigning aks rbac role
  lib/consts/consts.go
  lib/steps/bootstrap.go
Due: test-lib

chore(release): 1.5.2 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  3e65f0cb092f126715dafe112c4dd0a55a54d0ef
Due: none

feat: add var to enable shell identification while using workon
  cmd/workon.go
  docs/cli/PTD_CLI_REFERENCE.md
  envrc.recommended
Due: test-cmd

add just recipe and include in just cli
  Justfile
Due: none

fix error message output
  Justfile
Due: none

remove from cli recipe
  Justfile
Due: none

feat: new netapp throughput limit alert
  python-pulumi/src/ptd/grafana_alerts/azure_netapp.yaml
Due: none

chore(release): 1.6.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  df2643aaef182f5672528cad0e8dd879a99eab94
Due: none

chore(release): 1.7.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  9b31343e01494a820b44fe0eec007f0a0008f299
Due: none

docs: fix Get Started and ensure-flow based on integrator feedback
  docs/GETTING_STARTED.md
  docs/cli/PTD_CLI_REFERENCE.md
  docs/cli/ensure-flow.md
Due: none

fix: disable azure load balancer alerts until fixed
  python-pulumi/src/ptd/grafana_alerts/azure_loadbalancer.yaml
Due: none

fix: update tests to reflect disabled loadbalancer alerts
  python-pulumi/tests/test_azure_alert_files.py
Due: test-python-pulumi

fix: restore FelixConfiguration adoption patch with ignore_changes to prevent drift
  python-pulumi/src/ptd/pulumi_resources/tigera_operator.py
Due: test-python-pulumi

Notes added by 'git notes add'
  67632e1d872ad9ed5e6740b144185bf35e9b4001
Due: none

chore(release): 1.7.1 [skip ci]
  CHANGELOG.md
Due: none

chore(release): 1.8.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  549ed2d2663fabc344fe9f66e094583603e81983
Due: none

fix: use runtime.Caller instead of git rev-parse in test setup
  lib/testdata/testdata.go
Due: test-lib
