Repository posit-dev/ptd: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-python-pulumi, test-cmd, test-lib

test-python-pulumi:
  name: Test Python Pulumi
  entry: just test-python-pulumi
  language: system
  pass_filenames: false

test-cmd:
  name: Test CLI
  entry: just test-cmd
  language: system
  pass_filenames: false

test-lib:
  name: Test lib
  entry: just test-lib
  language: system
  pass_filenames: false

refactor: add filter_control_room_metrics to Python dataclasses
  python-pulumi/src/ptd/aws_workload.py
  python-pulumi/src/ptd/azure_workload.py
Due: test-python-pulumi

refactor: address code review feedback on control room metric filter
  lib/steps/control_room_metric_filter.go
  lib/steps/control_room_metric_filter_test.go
  lib/steps/helm_helpers.go
Due: test-lib

chore(release): 1.28.3 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  5b1bc576734cec91c126376832b89b9a0bf0bac1
Due: none

feat: port workspaces step and AWSVpc to inline Go
  cmd/go.mod
  cmd/go.sum
  docs/architecture/step-dependencies.md
  docs/cli/ensure-flow.md
  lib/go.mod
  lib/go.sum
  lib/pulumi/inline.go
  lib/steps/vpc_aws.go
  lib/steps/workspaces.go
  lib/steps/workspaces_aws.go
  lib/steps/workspaces_test.go
  python-pulumi/src/ptd/pulumi_resources/aws_control_room_workspaces.py
  python-pulumi/src/ptd/pulumi_resources/aws_directoryservice.py
  python-pulumi/src/ptd/pulumi_resources/aws_directoryservicedata.py
  scripts/validate-config-sync.py
Due: test-python-pulumi, test-lib

refactor: address review feedback on workspaces migration
  lib/steps/vpc_aws.go
  lib/steps/workspaces_aws.go
  lib/steps/workspaces_test.go
Due: test-lib

ci: migrate Claude PR assistant to claude-code-action v1
  .github/workflows/claude.yml
Due: none

chore(release): 1.29.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  42d675acd78e0f3fe09387cb8e572bbf26e047e8
Due: none

feat: migrate persistent step from Python to inline Go Pulumi
  CLAUDE.md
  cmd/go.mod
  cmd/go.sum
  docs/architecture/config-flow.md
  docs/architecture/pulumi-conventions.md
  docs/architecture/step-dependencies.md
  docs/cli/ensure-flow.md
  lib/aws/eks.go
  lib/aws/vpc.go
  lib/aws/vpc_test.go
  lib/azure/vmimage.go
  lib/go.mod
  lib/go.sum
  lib/pulumi/inline.go
  lib/steps/aws-load-balancer-controller.policy.json
  lib/steps/persistent.go
  lib/steps/persistent_aws.go
  lib/steps/persistent_azure.go
  lib/steps/persistent_helpers.go
  lib/steps/persistent_test.go
  lib/steps/vpc_aws.go
  lib/steps/workspaces_aws.go
  lib/steps/workspaces_test.go
  lib/types/workload.go
  python-pulumi/src/ptd/pulumi_resources/aws_control_room_persistent.py
  python-pulumi/src/ptd/pulumi_resources/aws_workload_persistent.py
  python-pulumi/src/ptd/pulumi_resources/azure_workload_persistent.py
  python-pulumi/tests/test_stub_import_only.py
  scripts/validate-config-sync.py
Due: test-python-pulumi, test-lib

fix: adopt existing VPC subnets and private zones in persistent (AWS)
  lib/aws/ec2.go
  lib/steps/persistent_aws.go
  lib/types/workload.go
Due: test-lib

fix: adopt Azure persistent resources faithfully (tags, protect, subnets, bastion)
  lib/steps/persistent_azure.go
Due: test-lib

fix: ignore PrivateEndpoint subnet churn on azure-native provider upgrade
  lib/steps/persistent_azure.go
Due: test-lib

fix: stop Azure persistent churn on DB admin secret and bastion NIC subnet
  lib/steps/persistent_azure.go
Due: test-lib

fix: pin NetApp export-policy defaults to stop azure-native upgrade churn
  lib/steps/persistent_azure.go
Due: test-lib

feat(karpenter): add IAM permissions required for Karpenter 1.7–1.12
  lib/steps/clusters_aws.go
Due: test-lib

refactor: address PR review — remove dead code and dedup helpers in persistent
  lib/steps/persistent_aws.go
  lib/steps/persistent_azure.go
  lib/steps/persistent_helpers.go
Due: test-lib

chore(release): 1.30.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  1f8f385c3628c0868b504a6fca1e19515971ad1d
Due: none

chore(release): 1.31.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  22b377fc99e33c3d0b7ad963d73bbf8e9b162581
Due: none

Migrate eks and cluster steps from Python to inline Go Pulumi
  cmd/go.mod
  cmd/go.sum
  lib/aws/ec2.go
  lib/aws/efs.go
  lib/aws/eks.go
  lib/aws/eks_cluster.go
  lib/aws/eks_cluster_cr.go
  lib/aws/eks_cluster_cr_lbc_policy.go
  lib/aws/eks_cluster_cr_test.go
  lib/aws/eks_cluster_test.go
  lib/aws/oidc.go
  lib/go.mod
  lib/go.sum
  lib/steps/cluster.go
  lib/steps/cluster_aws.go
  lib/steps/cluster_aws_test.go
  lib/steps/eks.go
  lib/steps/eks_aws.go
  lib/steps/eks_aws_test.go
  lib/steps/eks_helpers.go
  lib/steps/steps_test.go
  lib/types/controlroom.go
  lib/types/workload.go
  lib/types/workload_test.go
  scripts/validate-config-sync.py
Due: test-lib

Remove Python Pulumi sources migrated to inline Go
  CLAUDE.md
  Justfile
  docs/architecture/config-flow.md
  docs/architecture/pulumi-conventions.md
  docs/architecture/step-dependencies.md
  docs/cli/ensure-flow.md
  lib/pulumi/python.go
  python-pulumi/src/ptd/grafana_dashboards/README.md
  python-pulumi/src/ptd/oidc.py
  python-pulumi/src/ptd/pulumi_resources/aws_control_room_cluster.py
  python-pulumi/src/ptd/pulumi_resources/aws_eks_cluster.py
  python-pulumi/src/ptd/pulumi_resources/aws_tailscale.py
  python-pulumi/src/ptd/pulumi_resources/aws_vpc.py
  python-pulumi/src/ptd/pulumi_resources/aws_workload_eks.py
  python-pulumi/src/ptd/pulumi_resources/lib.py
  python-pulumi/src/ptd/pulumi_resources/tigera_operator.py
  python-pulumi/src/ptd/pulumi_resources/traefik.py
  python-pulumi/tests/test_dashboard_configmaps.py
  python-pulumi/tests/test_lib.py
  python-pulumi/tests/test_ptd_pulumi_resources_aws_vpc.py
  python-pulumi/tests/test_stub_import_only.py
  python-pulumi/tests/test_traefik_nlb_tags.py
Due: test-python-pulumi, test-lib

Exclude lib/aws/oidc.go from Snyk code analysis
  .snyk
Due: none

Remove dead tagSpec variable in EKS launch template
  lib/aws/eks_cluster.go
Due: test-lib

fix(ci): repoint team-operator version bump at Go default
  .github/workflows/update-team-operator-version.yml
Due: none

security: bump golang.org/x/net to v0.55.0 (CVE-2026-39821) and google.golang.org/grpc to v1.79.3 (CVE-2026-33186)
  cmd/go.mod
  cmd/go.sum
  examples/custom-steps/simple-s3-bucket/go.mod
  examples/custom-steps/simple-s3-bucket/go.sum
  lib/go.mod
  lib/go.sum
Due: none

chore(release): 1.31.1 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  e852f45031c94670d9e0ea839aa81f2459a87ca9
Due: none

Set ResolveConflictsOnUpdate=PRESERVE on the ebs-csi EKS add-on
  lib/aws/eks_cluster.go
Due: test-lib

Adopt EKS add-on configurationValues as-is instead of forcing PRESERVE (#309)
  lib/aws/eks_cluster.go
Due: test-lib

Ignore customer-managed network (IPAM) and Defender drift on Azure
  lib/steps/aks.go
  lib/steps/persistent_azure.go
  lib/types/workload.go
  python-pulumi/src/ptd/azure_workload.py
Due: test-python-pulumi, test-lib

Address review: shorten Defender comment, drop redundant json tag
  lib/steps/aks.go
  lib/types/workload.go
Due: test-lib

cleanup: use generic placeholders in code comments
  lib/steps/persistent_aws.go
Due: test-lib

attestation: add resource inventory and Kubernetes object appendices
  lib/attestation/attestation.go
  lib/attestation/attestation_test.go
  lib/attestation/markdown.go
  lib/attestation/pdf.go
Due: test-lib

attestation: cover AWS bootstrap resources, warn on empty inventory
  lib/attestation/attestation.go
  lib/attestation/attestation_test.go
  lib/steps/bootstrap.go
Due: test-lib

attestation: correct generated doc prose and link appendices to stacks
  lib/attestation/attestation.go
  lib/attestation/attestation_test.go
  lib/attestation/markdown.go
  lib/attestation/pdf.go
  lib/attestation/prose.go
  lib/attestation/prose_test.go
Due: test-lib

attestation: fix PDF Stack Details paragraph overlap
  lib/attestation/pdf.go
Due: test-lib

Bump Go to 1.26.4 and fix Snyk-flagged dependency vulnerabilities
  cmd/go.mod
  cmd/go.sum
  examples/custom-steps/simple-s3-bucket/go.mod
  lib/go.mod
  lib/go.sum
Due: none

Path conditions:
  test-python-pulumi: any of: ^python-pulumi/.*\.py$
  test-cmd: any of: ^cmd/.*\.go$
  test-lib: any of: ^lib/.*\.go$
