Repository posit-dev/ptd: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-python-pulumi, test-cmd, test-lib

test-python-pulumi:
  name: Test Python Pulumi
  entry: just test-python-pulumi
  language: system
  pass_filenames: false

test-cmd:
  name: Test CLI
  entry: just test-cmd
  language: system
  pass_filenames: false

test-lib:
  name: Test lib
  entry: just test-lib
  language: system
  pass_filenames: false

Notes added by 'git notes add'
  86a4d5063d770067aae1b8d87cf2da63d8f02554
Due: none

chore(release): 1.38.1 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  7879829370cd5a0621a45ef95b0ab711c7c992a1
Due: none

chore(release): 1.39.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  6e67a46dee75f951797da0c6ca9ce76e7fa10bd9
Due: none

fix(azure): external-dns extraArgs must be a list, not a map
  lib/steps/helm_azure.go
Due: test-lib

chore(release): 1.39.1 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  238b66883188e736317162195926eee5d26555c9
Due: none

docs(eks): clarify Calico resource-override comments
  lib/steps/eks_helpers.go
Due: test-lib

docs: add ignore_tags adoption runbook
  docs/CONFIGURATION.md
Due: none

feat(aws): add ignore_tags to preserve customer-applied resource tags
  cmd/internal/legacy/ptd_config.go
  docs/CONFIGURATION.md
  examples/workload/ptd.yaml
  lib/attestation/attestation_test.go
  lib/aws/target.go
  lib/aws/target_test.go
  lib/azure/target.go
  lib/pulumi/common.go
  lib/pulumi/inline.go
  lib/pulumi/local.go
  lib/pulumi/pulumi.go
  lib/pulumi/pulumi_test.go
  lib/steps/workspaces_aws.go
  lib/types/controlroom.go
  lib/types/controlroom_test.go
  lib/types/types.go
  lib/types/typestest/testtypes.go
  lib/types/workload.go
  lib/types/workload_test.go
Due: test-cmd, test-lib

fix(aws): warn when refresh can't read config; clarify ignore_tags config lifecycle
  lib/pulumi/common.go
  lib/pulumi/pulumi.go
Due: test-lib

chore(release): 1.40.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  5f64a36c29ddddc88fe9f9abebff4475cdc292d0
Due: none

feat: direct Connect content pods to Karpenter session node pool
  lib/steps/sites.go
  lib/steps/sites_test.go
Due: test-lib

refactor: dedupe session tolerations lookup in buildAWSSiteSpec
  lib/steps/sites.go
Due: test-lib

fix(control-room): drop bogus LBC image tag and CR IAM permissions boundary
  lib/aws/eks_cluster_cr.go
  lib/aws/eks_cluster_cr_test.go
  lib/steps/cluster.go
  lib/steps/cluster_aws.go
  lib/steps/cluster_aws_test.go
  lib/types/controlroom.go
Due: test-lib

Adopt Karpenter CRDs via one-time manual stamp (drop takeOwnership)
  docs/infrastructure/karpenter-crds.md
  lib/steps/clusters_aws.go
  lib/steps/clusters_azure.go
  lib/steps/clusters_helpers.go
  lib/steps/helm_aws.go
Due: test-lib

Trim Karpenter CRD code comment to a pointer
  lib/steps/helm_aws.go
Due: test-lib

Make CRD-adoption commands shell-robust in migration doc
  docs/infrastructure/karpenter-crds.md
Due: none

Bump google.golang.org/grpc to v1.82.1 (GHSA-hrxh-6v49-42gf)
  cmd/go.mod
  cmd/go.sum
  lib/go.mod
  lib/go.sum
Due: none

Gloss nodeoverlays CRD in migration doc
  docs/infrastructure/karpenter-crds.md
Due: none

Guard Karpenter CRDs with helm.sh/resource-policy: keep
  docs/infrastructure/karpenter-crds.md
  lib/steps/helm_aws.go
Due: test-lib

chore(release): 1.40.1 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  482b2e5f5f7f92e3e6a6c43c7979ce7889cf40aa
Due: none

fix(eject): correct IRSA/OIDC note in disaster-recovery runbook
  lib/eject/runbooks.go
Due: test-lib

feat(azure): sync Key Vault to AKS via External Secrets Operator
  docs/guides/external-secrets-aks.md
  lib/azure/secretstore.go
  lib/azure/secretstore_test.go
  lib/steps/clusters.go
  lib/steps/clusters_azure.go
  lib/types/workload.go
Due: test-lib

fix(helm): gate Alloy mimir-auth secret and mount on control room
  lib/steps/helm_aws.go
  lib/steps/helm_aws_test.go
  lib/steps/helm_azure.go
  lib/steps/helm_azure_test.go
Due: test-lib

fix(helm): skip mimir secret lookup when there is no control room
  lib/steps/helm_aws.go
  lib/steps/helm_azure.go
Due: test-lib

chore(helm): reduce excessive comments
  lib/steps/helm_aws.go
  lib/steps/helm_azure.go
Due: test-lib

chore(release): 1.40.2 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  e686cc4aa3f37963787fae60dfa4f859f1292ec8
Due: none

docs(eject): add product-license update instructions to day-to-day ops runbook
  lib/eject/runbooks.go
Due: test-lib

feat(azure): name bootstrap site secrets <compound>-<site>-<field>
  lib/steps/bootstrap.go
Due: test-lib

feat(azure): generate per-site ExternalSecret from Key Vault
  lib/steps/clusters_azure.go
  lib/steps/sites.go
  lib/steps/sites_test.go
Due: test-lib

refactor(azure): hyphenate workload secret name for consistency
  lib/steps/sites.go
  lib/steps/sites_test.go
Due: test-lib

feat(azure): preserve empty token keys in site ExternalSecret
  lib/steps/clusters_azure.go
Due: test-lib

docs(azure): document Key Vault secret ownership and cleanup steps
  docs/CONFIGURATION.md
  docs/README.md
  docs/guides/external-secrets-aks.md
Due: none

refactor: trim verbose comments in favor of doc references
  lib/azure/secretstore.go
  lib/azure/secretstore_test.go
  lib/steps/bootstrap.go
  lib/steps/clusters.go
  lib/steps/clusters_azure.go
  lib/steps/sites.go
  lib/types/workload.go
Due: test-lib

fix(azure): address PR review feedback
  docs/guides/external-secrets-aks.md
  lib/azure/secretstore.go
  lib/steps/clusters.go
  lib/steps/clusters_azure.go
Due: test-lib

Path conditions:
  test-python-pulumi: any of: ^python-pulumi/.*\.py$
  test-cmd: any of: ^cmd/.*\.go$
  test-lib: any of: ^lib/.*\.go$
