Repository posit-dev/ptd: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-python-pulumi, test-cmd, test-lib

test-python-pulumi:
  name: Test Python Pulumi
  entry: just test-python-pulumi
  language: system
  pass_filenames: false

test-cmd:
  name: Test CLI
  entry: just test-cmd
  language: system
  pass_filenames: false

test-lib:
  name: Test lib
  entry: just test-lib
  language: system
  pass_filenames: false

fix: force NFT iptables backend for Calico on AL2023
  python-pulumi/src/ptd/pulumi_resources/tigera_operator.py
Due: test-python-pulumi

feat: upgrade Tigera Operator 3.29.3 → 3.31.4
  python-pulumi/src/ptd/__init__.py
  python-pulumi/src/ptd/pulumi_resources/tigera_operator.py
Due: test-python-pulumi

add verification step and remove un-used dispatch
  .github/workflows/update-team-operator-version.yml
  README.md
Due: none

remove doc, moving to internal
  README.md
Due: none

fix: solve intermittent no data result with netapp latency alerts and adjust thresholds based on current workloads
  python-pulumi/src/ptd/grafana_alerts/azure_netapp.yaml
Due: none

feat: pre-patch Installation CRD to allow Nftables dataplane on upgrade
  python-pulumi/src/ptd/pulumi_resources/tigera_operator.py
Due: test-python-pulumi

fix: drop Nftables dataplane and CRD patch, stay on Iptables
  python-pulumi/src/ptd/pulumi_resources/tigera_operator.py
Due: test-python-pulumi

ci: fix deploy key for semantic release workflow
  .github/workflows/release.yml
Due: none

Add documentation for attestation package
  lib/attestation/README.md
Due: none

Add attestation library for workload deployment tracking
  lib/attestation/attestation.go
  lib/aws/s3.go
Due: test-lib

Add ptd attestation CLI command with markdown and PDF output
  cmd/attestation.go
  cmd/go.mod
  cmd/go.sum
  lib/attestation/attestation.go
  lib/attestation/markdown.go
  lib/attestation/pdf.go
  lib/attestation/prose.go
  lib/go.mod
  lib/go.sum
Due: test-cmd, test-lib

Add Azure support and improve attestation document styling
  cmd/go.mod
  cmd/go.sum
  lib/attestation/attestation.go
  lib/attestation/markdown.go
  lib/attestation/pdf.go
  lib/attestation/prose.go
  lib/azure/blobstate.go
  lib/go.mod
  lib/go.sum
Due: test-lib

Remove guessed defaults from attestation prose
  lib/attestation/prose.go
Due: test-lib

Add unit tests for attestation pure-logic functions
  lib/attestation/attestation_test.go
  lib/attestation/prose_test.go
Due: test-lib

fix: patch Installation CR to enforce Calico CNI on EKS
  python-pulumi/src/ptd/pulumi_resources/tigera_operator.py
Due: test-python-pulumi

fix: improve alerting when no metrics received from one or all workloads
  python-pulumi/src/ptd/grafana_alerts/mimir.yaml
Due: none

fix: add tenant label back to metrics alert
  python-pulumi/src/ptd/grafana_alerts/mimir.yaml
Due: none

chore(release): 1.5.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  e3aafb311f10bdbacf02fc54be535b79978c976b
Due: none

fix: remove unnecessary FelixConfiguration adoption patch
  python-pulumi/src/ptd/pulumi_resources/tigera_operator.py
Due: test-python-pulumi

fix: upgrade google.golang.org/grpc to v1.79.3 (CVE-2026-33186)
  cmd/go.mod
  cmd/go.sum
  lib/go.mod
  lib/go.sum
Due: none

fix: bump go directive to 1.25.6 (CVE-2025-61728, CVE-2025-61726)
  cmd/go.mod
  lib/go.mod
Due: none

chore(release): 1.5.1 [skip ci]
  CHANGELOG.md
Due: none

Path conditions:
  test-python-pulumi: any of: ^python-pulumi/.*\.py$
  test-cmd: any of: ^cmd/.*\.go$
  test-lib: any of: ^lib/.*\.go$
