Repository posit-dev/ptd: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-python-pulumi, test-cmd, test-lib

test-python-pulumi:
  name: Test Python Pulumi
  entry: just test-python-pulumi
  language: system
  pass_filenames: false

test-cmd:
  name: Test CLI
  entry: just test-cmd
  language: system
  pass_filenames: false

test-lib:
  name: Test lib
  entry: just test-lib
  language: system
  pass_filenames: false

fix(grafana): fix Package Manager panel query and display issues
  python-pulumi/src/ptd/grafana_dashboards/posit-team-overview.json
Due: none

fix(grafana): correct Connect panel titles to match query semantics
  python-pulumi/src/ptd/grafana_dashboards/posit-team-overview.json
Due: none

Start adding site to queries
  python-pulumi/src/ptd/grafana_dashboards/posit-team-overview.json
Due: none

Aggregate user metrics
  python-pulumi/src/ptd/grafana_dashboards/posit-team-overview.json
Due: none

fix(grafana): apply site filter consistently and correct version in Posit Team Overview
  python-pulumi/src/ptd/grafana_dashboards/posit-team-overview.json
Due: none

fix(grafana): use pattern match operator for site filter in Posit Team Overview
  python-pulumi/src/ptd/grafana_dashboards/posit-team-overview.json
Due: none

Fix resp bytes metric
  python-pulumi/src/ptd/grafana_dashboards/posit-team-overview.json
Due: none

Remove some invalid metrics
  python-pulumi/src/ptd/grafana_dashboards/posit-team-overview.json
Due: none

fix(docs): correct dashboard UID description and add trailing newline
  python-pulumi/src/ptd/grafana_dashboards/README.md
Due: none

fix(grafana): prevent automatic time unit conversion in License days left panel
  python-pulumi/src/ptd/grafana_dashboards/posit-team-overview.json
Due: none

Simplify documentation
  python-pulumi/src/ptd/grafana_dashboards/README.md
Due: none

docs(grafana): add comprehensive dashboard management guide
  python-pulumi/src/ptd/grafana_dashboards/README.md
Due: none

fix(grafana): remove inaccurate License expires panels from dashboard
  python-pulumi/src/ptd/grafana_dashboards/posit-team-overview.json
Due: none

Minor UI adjustments
  python-pulumi/src/ptd/grafana_dashboards/posit-team-overview.json
Due: none

fix(docs): correct dashboard deployment documentation inaccuracies
  python-pulumi/src/ptd/grafana_dashboards/README.md
Due: none

linting fixes
  Justfile
  cmd/workon_test.go
  lib/azure/aks.go
  lib/consts/consts.go
  lib/kube/config.go
  lib/kube/config_test.go
  lib/kube/proxy.go
  lib/kube/setup.go
  lib/proxy/preflight_test.go
  lib/steps/aks.go
  lib/types/controlroom.go
Due: test-cmd, test-lib

fix: azure load balancer alerts
  python-pulumi/src/ptd/grafana_alerts/azure_loadbalancer.yaml
Due: none

fix: azure load balancer metrics resource group and azure alert queries and formatting
  lib/azure/target.go
  python-pulumi/src/ptd/azure_workload.py
  python-pulumi/src/ptd/grafana_alerts/azure_loadbalancer.yaml
  python-pulumi/src/ptd/grafana_alerts/azure_netapp.yaml
  python-pulumi/src/ptd/grafana_alerts/azure_postgres.yaml
  python-pulumi/src/ptd/grafana_alerts/azure_storage.yaml
  python-pulumi/src/ptd/pulumi_resources/grafana_alloy.py
  python-pulumi/tests/test_grafana_alloy.py
Due: test-python-pulumi, test-lib

feat: add third_party_telemetry_enabled config to disable infra telemetry
  lib/types/workload.go
  python-pulumi/src/ptd/__init__.py
  python-pulumi/src/ptd/pulumi_resources/aws_workload_eks.py
  python-pulumi/src/ptd/pulumi_resources/aws_workload_helm.py
  python-pulumi/src/ptd/pulumi_resources/azure_traefik.py
  python-pulumi/src/ptd/pulumi_resources/azure_workload_helm.py
  python-pulumi/src/ptd/pulumi_resources/tigera_operator.py
Due: test-python-pulumi, test-lib

fix: dataclass inheritance ordering and ruff FBT lint errors
  python-pulumi/src/ptd/__init__.py
  python-pulumi/src/ptd/pulumi_resources/tigera_operator.py
Due: test-python-pulumi

fix: remove force_update_version from EKS Cluster args
  python-pulumi/src/ptd/pulumi_resources/aws_eks_cluster.py
Due: test-python-pulumi

Revert "fix: remove force_update_version from EKS Cluster args"
  python-pulumi/src/ptd/pulumi_resources/aws_eks_cluster.py
Due: test-python-pulumi

fix: adopt existing FelixConfiguration before Helm manages it
  python-pulumi/src/ptd/pulumi_resources/tigera_operator.py
Due: test-python-pulumi

Path conditions:
  test-python-pulumi: any of: ^python-pulumi/.*\.py$
  test-cmd: any of: ^cmd/.*\.go$
  test-lib: any of: ^lib/.*\.go$
