Repository posit-dev/ptd: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-python-pulumi, test-cmd, test-lib

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format
        name: Format code
        entry: just format
        language: system
        pass_filenames: false

      - id: check
        name: Lint code
        entry: just check
        language: system
        pass_filenames: false

      - id: test-python-pulumi
        name: Test Python Pulumi
        entry: just test-python-pulumi
        language: system
        pass_filenames: false
        files: ^python-pulumi/.*\.py$

      - id: test-cmd
        name: Test CLI
        entry: just test-cmd
        language: system
        pass_filenames: false
        files: ^cmd/.*\.go$

      - id: test-lib
        name: Test lib
        entry: just test-lib
        language: system
        pass_filenames: false
        files: ^lib/.*\.go$

Address review findings (job 101)
  python-pulumi/src/ptd/pulumi_resources/grafana_alloy.py
  python-pulumi/src/ptd/pulumi_resources/lib.py
  python-pulumi/tests/test_lib.py
Due: test-python-pulumi

Address review findings (job 100)
  cmd/internal/verify/job.go
  cmd/internal/verify/keycloak.go
  cmd/internal/verify/verify.go
  cmd/internal/verify/verify_test.go
  cmd/verify.go
Due: test-cmd

Address review findings (job 102)
  python-pulumi/src/ptd/grafana_alerts/rds.yaml
  python-pulumi/src/ptd/pulumi_resources/grafana_alloy.py
  python-pulumi/src/ptd/pulumi_resources/lib.py
  python-pulumi/tests/test_lib.py
Due: test-python-pulumi

Address review findings (job 104)
  python-pulumi/tests/test_traefik_nlb_tags.py
Due: test-python-pulumi

Address review findings (job 103)
  cmd/internal/verify/job.go
  cmd/internal/verify/keycloak.go
  cmd/internal/verify/verify.go
  cmd/internal/verify/verify_test.go
  cmd/verify.go
Due: test-cmd

Address review findings (job 106)
  python-pulumi/src/ptd/grafana_alerts/loadbalancer.yaml
  python-pulumi/src/ptd/pulumi_resources/lib.py
  python-pulumi/tests/test_traefik_nlb_tags.py
Due: test-python-pulumi

Address review findings (job 108)
  python-pulumi/src/ptd/pulumi_resources/aws_workload_helm.py
  python-pulumi/src/ptd/pulumi_resources/traefik.py
  python-pulumi/tests/test_alb_tags.py
Due: test-python-pulumi

Address review findings (job 107)
  cmd/internal/verify/config.go
  cmd/internal/verify/job.go
  cmd/internal/verify/keycloak.go
  cmd/internal/verify/verify_test.go
Due: test-cmd

Address review findings (job 111)
  python-pulumi/src/ptd/grafana_alerts/loadbalancer.yaml
  python-pulumi/src/ptd/grafana_alerts/natgateway.yaml
  python-pulumi/src/ptd/grafana_alerts/rds.yaml
  python-pulumi/src/ptd/pulumi_resources/grafana_alloy.py
  python-pulumi/tests/test_lib.py
  python-pulumi/tests/test_traefik_nlb_tags.py
Due: test-python-pulumi

Address review findings (job 112)
  cmd/internal/verify/job.go
  cmd/internal/verify/verify.go
  cmd/internal/verify/verify_test.go
Due: test-cmd

Address review findings (job 113)
  python-pulumi/src/ptd/grafana_alerts/natgateway.yaml
  python-pulumi/src/ptd/pulumi_resources/grafana_alloy.py
  python-pulumi/tests/test_lib.py
Due: test-python-pulumi

Address review findings (job 114)
  cmd/internal/verify/job.go
  cmd/internal/verify/keycloak.go
  cmd/internal/verify/verify.go
  cmd/internal/verify/verify_test.go
Due: test-cmd

Address review findings (job 116)
  python-pulumi/src/ptd/grafana_alerts/natgateway.yaml
  python-pulumi/src/ptd/grafana_alerts/rds.yaml
  python-pulumi/src/ptd/pulumi_resources/grafana_alloy.py
  python-pulumi/tests/test_grafana_alloy.py
Due: test-python-pulumi

Address review findings (job 118)
  cmd/internal/verify/job.go
  cmd/internal/verify/keycloak.go
  cmd/internal/verify/verify.go
Due: test-cmd

Address review findings (job 120)
  python-pulumi/src/ptd/grafana_alerts/natgateway.yaml
  python-pulumi/src/ptd/grafana_alerts/rds.yaml
  python-pulumi/src/ptd/pulumi_resources/grafana_alloy.py
  python-pulumi/tests/test_grafana_alloy.py
  python-pulumi/tests/test_lib.py
Due: test-python-pulumi

Address review findings (job 122)
  python-pulumi/src/ptd/grafana_alerts/rds.yaml
  python-pulumi/tests/test_alb_tags.py
Due: test-python-pulumi

Address review findings (job 121)
  cmd/internal/verify/job.go
  cmd/internal/verify/keycloak.go
  cmd/internal/verify/keycloak_test.go
  cmd/internal/verify/verify.go
  cmd/internal/verify/verify_test.go
Due: test-cmd

Address review findings (job 124)
  cmd/internal/verify/config.go
  cmd/internal/verify/job.go
  cmd/internal/verify/keycloak.go
  cmd/internal/verify/verify_test.go
Due: test-cmd

Address review findings (job 123)
  python-pulumi/src/ptd/grafana_alerts/natgateway.yaml
  python-pulumi/src/ptd/grafana_alerts/rds.yaml
  python-pulumi/src/ptd/pulumi_resources/grafana_alloy.py
  python-pulumi/tests/test_grafana_alloy.py
Due: test-python-pulumi

Address review findings (job 126)
  python-pulumi/src/ptd/grafana_alerts/rds.yaml
  python-pulumi/src/ptd/pulumi_resources/grafana_alloy.py
  python-pulumi/tests/test_grafana_alloy.py
Due: test-python-pulumi

Address review findings (job 125)
  cmd/internal/verify/job.go
  cmd/internal/verify/keycloak.go
  cmd/internal/verify/keycloak_test.go
  cmd/internal/verify/verify.go
Due: test-cmd

Address review findings (job 127)
  python-pulumi/src/ptd/grafana_alerts/loadbalancer.yaml
  python-pulumi/src/ptd/grafana_alerts/natgateway.yaml
  python-pulumi/src/ptd/grafana_alerts/rds.yaml
  python-pulumi/src/ptd/pulumi_resources/aws_workload_helm.py
  python-pulumi/tests/test_grafana_alloy.py
  python-pulumi/tests/test_lib.py
Due: test-python-pulumi

feat(azure): add configurable bastion instance type
  lib/types/workload.go
  lib/types/workload_test.go
  python-pulumi/src/ptd/azure_workload.py
  python-pulumi/src/ptd/pulumi_resources/azure_bastion.py
  python-pulumi/src/ptd/pulumi_resources/azure_workload_persistent.py
  python-pulumi/tests/test_azure_bastion_config.py
Due: test-python-pulumi, test-lib

chore: rename .envrc to envrc.recommended
  CLAUDE.md
  envrc.recommended
Due: none

Revert "feat(azure): add configurable bastion instance type"
  lib/types/workload.go
  lib/types/workload_test.go
  python-pulumi/src/ptd/azure_workload.py
  python-pulumi/src/ptd/pulumi_resources/azure_bastion.py
  python-pulumi/src/ptd/pulumi_resources/azure_workload_persistent.py
  python-pulumi/tests/test_azure_bastion_config.py
Due: test-python-pulumi, test-lib
