Repository posit-dev/ptd: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-python-pulumi, test-cmd, test-lib

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format
        name: Format code
        entry: just format
        language: system
        pass_filenames: false

      - id: check
        name: Lint code
        entry: just check
        language: system
        pass_filenames: false

      - id: test-python-pulumi
        name: Test Python Pulumi
        entry: just test-python-pulumi
        language: system
        pass_filenames: false
        files: ^python-pulumi/.*\.py$

      - id: test-cmd
        name: Test CLI
        entry: just test-cmd
        language: system
        pass_filenames: false
        files: ^cmd/.*\.go$

      - id: test-lib
        name: Test lib
        entry: just test-lib
        language: system
        pass_filenames: false
        files: ^lib/.*\.go$

feat: collect control room connection details for eject
  cmd/eject.go
  lib/eject/control_room.go
  lib/eject/control_room_test.go
  lib/eject/eject.go
  lib/eject/eject_test.go
Due: test-cmd, test-lib

feat: extract resource physical IDs from Pulumi state
  lib/eject/inventory.go
  lib/eject/inventory_test.go
Due: test-lib

chore(release): 1.10.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  e9623d56289a077974514121c3d3839c3083b594
Due: none

refactor: reuse attestation Pulumi state types in inventory
  lib/attestation/attestation.go
  lib/eject/inventory.go
Due: test-lib

feat: write raw Pulumi stack exports to eject bundle
  lib/eject/stack_export.go
  lib/eject/stack_export_test.go
Due: test-lib

update comments
  python-pulumi/src/ptd/__init__.py
Due: test-python-pulumi

refactor: extract Pulumi state types into shared pulumistate package
  lib/attestation/attestation.go
  lib/eject/inventory.go
  lib/pulumistate/state.go
Due: test-lib

chore(release): 1.11.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  12650cf6844209b7259e29e0736ab54682bb0aee
Due: none

feat: copy workload config files to eject bundle
  lib/eject/config_copy.go
  lib/eject/config_copy_test.go
Due: test-lib

fix: sanitize file paths in config copy to resolve Snyk findings
  lib/eject/config_copy.go
Due: test-lib

remove redundant config
  python-pulumi/src/ptd/__init__.py
  python-pulumi/src/ptd/pulumi_resources/team_operator.py
Due: test-python-pulumi

docs
  docs/CONFIGURATION.md
  docs/team-operator/README.md
Due: none

fix code signing error
  Justfile
Due: none

update mimir to collect user-group labels
  python-pulumi/src/ptd/pulumi_resources/aws_workload_helm.py
Due: test-python-pulumi

Fix Azure proxy creating spurious "None/" directory
  lib/azure/proxy.go
Due: test-lib

feat: enable Pulumi debug logging when -v flag is set
  lib/pulumi/pulumi.go
Due: test-lib

chore(release): 1.12.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  3efcc6f525e6d8b730a5f72d4051250837d0183e
Due: none

feat: remove automated kustomize-to-Helm migration job from TeamOperator
  python-pulumi/src/ptd/pulumi_resources/team_operator.py
Due: test-python-pulumi

fix: check out.Close() error in copyFile to catch flush failures
  lib/eject/config_copy.go
Due: test-lib
