Repository posit-dev/ptd: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-python-pulumi, test-cmd, test-lib

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format
        name: Format code
        entry: just format
        language: system
        pass_filenames: false

      - id: check
        name: Lint code
        entry: just check
        language: system
        pass_filenames: false

      - id: test-python-pulumi
        name: Test Python Pulumi
        entry: just test-python-pulumi
        language: system
        pass_filenames: false
        files: ^python-pulumi/.*\.py$

      - id: test-cmd
        name: Test CLI
        entry: just test-cmd
        language: system
        pass_filenames: false
        files: ^cmd/.*\.go$

      - id: test-lib
        name: Test lib
        entry: just test-lib
        language: system
        pass_filenames: false
        files: ^lib/.*\.go$

File formatting
  python-pulumi/src/ptd/pulumi_resources/lib.py
  python-pulumi/tests/test_dashboard_configmaps.py
Due: test-python-pulumi

fix(python-pulumi): resolve linter warnings in dashboard code
  python-pulumi/src/ptd/pulumi_resources/aws_eks_cluster.py
  python-pulumi/tests/test_dashboard_configmaps.py
Due: test-python-pulumi

updates to pod and app alerts
  python-pulumi/src/ptd/grafana_alerts/applications.yaml
  python-pulumi/src/ptd/grafana_alerts/pods.yaml
Due: none

disable waf and shield, they are not currently used.
  python-pulumi/src/ptd/pulumi_resources/aws_workload_helm.py
Due: test-python-pulumi

Remove duplicate import
  python-pulumi/src/ptd/pulumi_resources/aws_eks_cluster.py
Due: test-python-pulumi

fix: remove workload alert sidecar and fix azure resource graph query syntax
  python-pulumi/src/ptd/pulumi_resources/azure_workload_helm.py
  python-pulumi/src/ptd/pulumi_resources/grafana_alloy.py
  python-pulumi/tests/test_grafana_alloy.py
Due: test-python-pulumi

fix secretstore bug
  lib/azure/secretstore.go
Due: test-lib

fix: replace underscores in alerts generated via file
  python-pulumi/src/ptd/pulumi_resources/aws_eks_cluster.py
Due: test-python-pulumi

Fetch Azure bastion SSH key from Pulumi state instead of local filesystem
  cmd/workon.go
  lib/azure/proxy.go
  lib/azure/target.go
  python-pulumi/src/ptd/pulumi_resources/azure_bastion.py
  python-pulumi/src/ptd/pulumi_resources/azure_workload_persistent.py
Due: test-python-pulumi, test-cmd, test-lib

updates to cloudwatch and rds alerts
  python-pulumi/src/ptd/grafana_alerts/cloudwatch.yaml
  python-pulumi/src/ptd/grafana_alerts/rds.yaml
Due: none

add delete rules for old alerts
  python-pulumi/src/ptd/grafana_alerts/cloudwatch.yaml
  python-pulumi/src/ptd/grafana_alerts/pods.yaml
Due: none

fix: quote descriptions in alerts with colon characters
  python-pulumi/src/ptd/grafana_alerts/azure_netapp.yaml
  python-pulumi/src/ptd/grafana_alerts/azure_postgres.yaml
  python-pulumi/src/ptd/grafana_alerts/rds.yaml
Due: none

allow passing of kubernetes groups to add to eks access entry
  python-pulumi/src/ptd/pulumi_resources/aws_eks_cluster.py
Due: test-python-pulumi

update lb, node, and rds alerts
  python-pulumi/src/ptd/grafana_alerts/loadbalancer.yaml
  python-pulumi/src/ptd/grafana_alerts/nodes.yaml
  python-pulumi/src/ptd/grafana_alerts/rds.yaml
Due: none

documentation updates
  docs/guides/monitoring.md
Due: none

fix: use custom_role for EKS access entry when configured
  python-pulumi/src/ptd/pulumi_resources/aws_eks_cluster.py
  python-pulumi/src/ptd/pulumi_resources/aws_workload_eks.py
Due: test-python-pulumi

update default chart version
  python-pulumi/src/ptd/pulumi_resources/team_operator.py
Due: test-python-pulumi

update comment for clarity
  python-pulumi/src/ptd/__init__.py
Due: test-python-pulumi

fix: change azure metric names and give better alert descriptions
  python-pulumi/src/ptd/grafana_alerts/azure_netapp.yaml
  python-pulumi/src/ptd/grafana_alerts/azure_postgres.yaml
  python-pulumi/src/ptd/grafana_alerts/azure_storage.yaml
Due: none

fix(grafana): handle division by zero and fix labels in License Consumption gauge
  python-pulumi/src/ptd/grafana_dashboards/posit-team-overview.json
Due: none

fix(grafana): correct dashboard provisioning settings for posit_team_overview
  python-pulumi/src/ptd/grafana_dashboards/posit_team_overview.json
Due: none
