Repository posit-dev/ptd: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-python-pulumi, test-cmd, test-lib

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format
        name: Format code
        entry: just format
        language: system
        pass_filenames: false

      - id: check
        name: Lint code
        entry: just check
        language: system
        pass_filenames: false

      - id: test-python-pulumi
        name: Test Python Pulumi
        entry: just test-python-pulumi
        language: system
        pass_filenames: false
        files: ^python-pulumi/.*\.py$

      - id: test-cmd
        name: Test CLI
        entry: just test-cmd
        language: system
        pass_filenames: false
        files: ^cmd/.*\.go$

      - id: test-lib
        name: Test lib
        entry: just test-lib
        language: system
        pass_filenames: false
        files: ^lib/.*\.go$

fix(sites): use exec plugin kubeconfig to eliminate token-rotation state diffs
  lib/kube/config.go
  lib/steps/sites.go
Due: test-lib

refactor: consolidate duplicated logic in eject package
  lib/attestation/attestation.go
  lib/eject/eject.go
  lib/eject/handoff.go
  lib/eject/inventory.go
  lib/eject/markdown.go
  lib/eject/pdf.go
  lib/eject/prose.go
  lib/eject/secrets.go
Due: test-lib

fix(justfile): make codesign conditional on macOS to fix Linux CI
  Justfile
Due: none

chore(release): 1.16.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  5d1d05d684a5dd9c2505e4b95adf6385b33840a3
Due: none

fix(clusters): address PR review — feature gaps and deduplication
  cmd/go.sum
  lib/steps/clusters_aws.go
  lib/steps/clusters_azure.go
  lib/steps/clusters_helpers.go
  lib/types/workload.go
Due: test-lib

team-operator revert didn't trigger a patch
  python-pulumi/src/ptd/pulumi_resources/team_operator.py
Due: test-python-pulumi

Add Team Operator section to handoff document
  lib/eject/markdown.go
  lib/eject/pdf.go
  lib/eject/prose.go
Due: test-lib

chore(release): 1.17.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  f4b176146351525812a8d46b08d20bd11d96edba
Due: none

chore: bump default team-operator chart version to v1.23.0
  lib/steps/clusters.go
Due: test-lib

chore: remove orphaned Python pulumi_resources modules
  python-pulumi/src/ptd/pulumi_resources/aws_iam.py
  python-pulumi/src/ptd/pulumi_resources/custom_k8s_resources.py
  python-pulumi/src/ptd/pulumi_resources/helm_controller.py
  python-pulumi/src/ptd/pulumi_resources/team_operator.py
  python-pulumi/tests/test_stub_import_only.py
Due: test-python-pulumi

feat: add unit tests for handoff helpers and fix resource categorization
  lib/eject/handoff.go
  lib/eject/handoff_test.go
  lib/eject/pdf_test.go
  lib/eject/prose_test.go
Due: test-lib

feat(eject): add metadata.json, README, and config copy to bundle
  cmd/eject.go
  lib/eject/eject.go
  lib/eject/eject_test.go
  lib/eject/metadata.go
  lib/eject/metadata_test.go
  lib/eject/readme.go
  lib/eject/readme_test.go
Due: test-cmd, test-lib

fix: code review suggestions
  lib/eject/eject.go
  lib/eject/metadata.go
  lib/eject/metadata_test.go
  lib/eject/readme.go
  lib/eject/readme_test.go
Due: test-lib

feat: generate operational runbooks in eject bundle (#218)
  lib/eject/eject.go
  lib/eject/runbooks.go
  lib/eject/runbooks_test.go
Due: test-lib

fix: wire up ClusterName, sort sites, sanitize Azure resource group
  lib/eject/eject.go
  lib/eject/runbooks.go
  lib/eject/runbooks_test.go
Due: test-lib

fix: correct DR runbook assumptions, remove redundant --dry-run
  lib/eject/runbooks.go
  lib/eject/runbooks_test.go
Due: test-lib

feat: tolerate nil control room target in ensure steps
  cmd/ensure.go
  cmd/internal/legacy/ptd_config.go
  lib/steps/persistent.go
Due: test-cmd, test-lib

feat: conditionally include control room remote_write in Alloy config
  python-pulumi/src/ptd/pulumi_resources/grafana_alloy.py
Due: test-python-pulumi

feat: add config strip and snapshot for eject severance
  lib/eject/config.go
  lib/eject/config_test.go
Due: test-lib

feat: add RemoveWorkloadMimirPassword for eject severance
  lib/eject/sever.go
  lib/eject/sever_test.go
Due: test-lib
