Repository posit-dev/ptd: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-python-pulumi, test-cmd, test-lib

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format
        name: Format code
        entry: just format
        language: system
        pass_filenames: false

      - id: check
        name: Lint code
        entry: just check
        language: system
        pass_filenames: false

      - id: test-python-pulumi
        name: Test Python Pulumi
        entry: just test-python-pulumi
        language: system
        pass_filenames: false
        files: ^python-pulumi/.*\.py$

      - id: test-cmd
        name: Test CLI
        entry: just test-cmd
        language: system
        pass_filenames: false
        files: ^cmd/.*\.go$

      - id: test-lib
        name: Test lib
        entry: just test-lib
        language: system
        pass_filenames: false
        files: ^lib/.*\.go$

fix: ensure all alerts are always created
  python-pulumi/src/ptd/pulumi_resources/aws_eks_cluster.py
Due: test-python-pulumi

fix: lint
  python-pulumi/src/ptd/pulumi_resources/aws_eks_cluster.py
Due: test-python-pulumi

update example config yaml
  examples/workload/ptd.yaml
Due: none

update grouping to not combine healthchecks
  python-pulumi/src/ptd/pulumi_resources/aws_eks_cluster.py
Due: test-python-pulumi

fix: alloy instance duplication bug
  python-pulumi/src/ptd/pulumi_resources/grafana_alloy.py
Due: test-python-pulumi

healthcheck format and dedupe by type
  python-pulumi/src/ptd/pulumi_resources/aws_eks_cluster.py
Due: test-python-pulumi

add back source and silence links
  python-pulumi/src/ptd/pulumi_resources/aws_eks_cluster.py
Due: test-python-pulumi

feat: add ppm-oidc-client-secret to site secret provisioning
  lib/secrets/secrets.go
  python-pulumi/src/ptd/secrecy.py
Due: test-python-pulumi, test-lib

fix: remove client_id and secrets_provider_client_id from azure_workload fixture
  python-pulumi/conftest.py
Due: test-python-pulumi

missed a query update to include container in appropriate alerts
  python-pulumi/src/ptd/grafana_alerts/pods.yaml
Due: none

this should have been an external label for consistency
  python-pulumi/src/ptd/pulumi_resources/grafana_alloy.py
Due: test-python-pulumi

convert postgres_config steps to go
  cmd/go.mod
  cmd/go.sum
  docs/cli/ensure-flow.md
  lib/go.mod
  lib/go.sum
  lib/pulumi/inline.go
  lib/pulumi/python.go
  lib/steps/aks.go
  lib/steps/postgres_config.go
  lib/steps/postgres_config_test.go
  lib/testdata/infra/__ctrl__/test-aws-ctrl/ptd.yaml
  lib/testdata/infra/__work__/test-aws-basic/ptd.yaml
  lib/testdata/infra/__work__/test-aws-staging/ptd.yaml
  python-pulumi/src/ptd/pulumi_resources/aws_control_room_postgres_config.py
  python-pulumi/src/ptd/pulumi_resources/aws_workload_postgres_config.py
  python-pulumi/src/ptd/pulumi_resources/azure_workload_postgres_config.py
  python-pulumi/src/ptd/pulumi_resources/grafana_postgres_resources.py
  python-pulumi/tests/test_stub_import_only.py
Due: test-python-pulumi, test-lib

Revert "Revert "fix: stop overriding team-operator image when not explicitly configured""
  python-pulumi/src/ptd/__init__.py
  python-pulumi/src/ptd/aws_workload.py
  python-pulumi/src/ptd/azure_workload.py
  python-pulumi/src/ptd/pulumi_resources/team_operator.py
  python-pulumi/tests/test_workload_cluster_config.py
Due: test-python-pulumi

feat: automatically recreate azure bastion vm with latest version
  python-pulumi/pyproject.toml
  python-pulumi/src/ptd/azure_sdk.py
  python-pulumi/src/ptd/pulumi_resources/azure_bastion.py
  python-pulumi/src/ptd/pulumi_resources/azure_workload_persistent.py
  python-pulumi/uv.lock
Due: test-python-pulumi

Address review findings (job 84)
  cmd/internal/verify/job.go
  cmd/internal/verify/keycloak.go
  cmd/internal/verify/verify.go
  cmd/internal/verify/verify_test.go
Due: test-cmd

Fix YAML injection in Job spec by using JSON serialization
  cmd/internal/verify/job.go
Due: test-cmd

Address review findings (job 65)
  cmd/internal/verify/config.go
  cmd/internal/verify/job.go
  cmd/internal/verify/keycloak.go
  cmd/internal/verify/verify_test.go
Due: test-cmd

Add ptd verify command for post-deploy VIP testing
  cmd/go.mod
  cmd/go.sum
  cmd/internal/verify/config.go
  cmd/internal/verify/job.go
  cmd/internal/verify/keycloak.go
  cmd/internal/verify/verify.go
  cmd/verify.go
Due: test-cmd

Move test username out of credential-handling code
  cmd/internal/verify/keycloak.go
  cmd/internal/verify/verify.go
  cmd/verify.go
Due: test-cmd

Address review findings (job 60)
  cmd/internal/verify/config.go
  cmd/internal/verify/keycloak.go
  cmd/internal/verify/verify.go
  cmd/internal/verify/verify_test.go
  cmd/verify.go
Due: test-cmd

Address review findings (job 74)
  cmd/internal/verify/keycloak.go
  cmd/internal/verify/verify.go
  cmd/verify.go
Due: test-cmd

Address review findings (job 53)
  cmd/internal/verify/config.go
  cmd/internal/verify/job.go
  cmd/internal/verify/keycloak.go
  cmd/internal/verify/verify.go
  cmd/verify.go
Due: test-cmd

Address review findings (job 77)
  cmd/internal/verify/config.go
  cmd/internal/verify/job.go
  cmd/internal/verify/keycloak.go
  cmd/internal/verify/verify.go
  cmd/internal/verify/verify_test.go
  cmd/verify.go
Due: test-cmd

Address review findings (job 58)
  cmd/internal/verify/job.go
  cmd/internal/verify/keycloak.go
  cmd/internal/verify/verify.go
  cmd/internal/verify/verify_test.go
  cmd/verify.go
Due: test-cmd

Address review findings (job 107)
  cmd/internal/verify/config.go
  cmd/internal/verify/job.go
  cmd/internal/verify/keycloak.go
  cmd/internal/verify/verify_test.go
Due: test-cmd

Address review findings (job 90)
  cmd/internal/verify/config.go
  cmd/internal/verify/job.go
  cmd/internal/verify/keycloak.go
  cmd/internal/verify/keycloak_test.go
  cmd/internal/verify/verify_test.go
Due: test-cmd

Address review findings (job 95)
  cmd/internal/verify/job.go
  cmd/internal/verify/keycloak.go
  cmd/verify.go
Due: test-cmd
