Repository posit-dev/ptd: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-python-pulumi, test-cmd, test-lib

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format
        name: Format code
        entry: just format
        language: system
        pass_filenames: false

      - id: check
        name: Lint code
        entry: just check
        language: system
        pass_filenames: false

      - id: test-python-pulumi
        name: Test Python Pulumi
        entry: just test-python-pulumi
        language: system
        pass_filenames: false
        files: ^python-pulumi/.*\.py$

      - id: test-cmd
        name: Test CLI
        entry: just test-cmd
        language: system
        pass_filenames: false
        files: ^cmd/.*\.go$

      - id: test-lib
        name: Test lib
        entry: just test-lib
        language: system
        pass_filenames: false
        files: ^lib/.*\.go$

Address review: drop unused targetRegion param, document PTD_ROOT
  cmd/workon.go
  lib/aws/target.go
  lib/azure/target.go
  lib/pulumi/state.go
  lib/steps/aks.go
  lib/steps/clusters_aws.go
Due: test-cmd, test-lib

fix(alerts): make RDS alerts identify the specific database
  lib/steps/assets/grafana_alerts/rds.yaml
Due: none

Remove unused containers/image dependency and dead code
  .github/workflows/cmd.yml
  .github/workflows/lib.yml
  lib/containers/containers.go
  lib/containers/containers_test.go
  lib/go.mod
  lib/go.sum
  lib/steps/images_test.go
Due: test-lib

ci: replace stale setup-go cache with self-refreshing go-cache action
  .github/actions/go-cache/action.yml
  .github/workflows/cmd.yml
  .github/workflows/lib.yml
Due: none

ci: unify jobs on CGO_ENABLED=0 and share one go-cache namespace
  .github/actions/go-cache/action.yml
  .github/workflows/cmd.yml
  .github/workflows/lib.yml
Due: none

fix: gate Grafana ingress forward-auth annotation on site opt-in
  lib/steps/helm_aws.go
  lib/steps/helm_aws_test.go
Due: test-lib

ci: revert to comment-based review with @claude mention support
  .github/workflows/claude-auto-review.yml
Due: none

chore(release): 1.31.2 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  4cb28e23791ed4fe4f419605af7732a921600a69
Due: none

ci: use Bedrock auth, fix deprecated input names and tool name
  .github/workflows/claude-auto-review.yml
Due: none

ci: revert to prior bedrock claude review (not approve)
  .github/workflows/claude-auto-review.yml
  .github/workflows/claude.yml
Due: none

feat(attestation): exclude retired steps from attestation output
  lib/attestation/attestation.go
  lib/attestation/attestation_test.go
Due: test-lib

chore(release): 1.32.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  cd440b1380b3dc4bce0fbf92f60aa60e231178ca
Due: none

Create Pulumi state storage accounts as StorageV2
  lib/azure/blobstorage.go
Due: test-lib

fix: correct Bedrock model ID to Sonnet 4.5
  .github/workflows/claude-auto-review.yml
  .github/workflows/claude.yml
Due: none

fix: distinguish secret-not-found from permission errors in mimir cleanup
  lib/aws/secretsmanager.go
  lib/azure/secrets.go
  lib/eject/mimir.go
  lib/eject/mimir_test.go
  lib/types/types.go
Due: test-lib

fix: write ptd.yaml and eject-record atomically
  lib/eject/atomic.go
  lib/eject/config.go
  lib/eject/eject.go
Due: test-lib

fix: persist eject-record before destructive config strip
  lib/eject/eject.go
  lib/eject/eject_test.go
Due: test-lib

fix: derive mimir secret name from cluster name in handoff
  lib/eject/control_room.go
  lib/eject/control_room_test.go
  lib/eject/eject.go
Due: test-lib

refactor: drop redundant credential refresh and finish severance->eject rename
  lib/eject/markdown.go
  lib/eject/pdf.go
  lib/eject/preflight.go
  lib/eject/preflight_test.go
  lib/eject/prose.go
Due: test-lib

Manage Karpenter CRDs in lockstep with the controller
  lib/steps/helm_aws.go
Due: test-lib

ci: correct Sonnet 4.6 Bedrock model identifier
  .github/workflows/claude-auto-review.yml
  .github/workflows/claude.yml
Due: none

fix: use correct Sonnet 4.6 Bedrock inference profile ID
  .github/workflows/claude-auto-review.yml
  .github/workflows/claude.yml
Due: none

Adopt Karpenter CRDs via helm-controller takeOwnership
  lib/steps/clusters_aws.go
  lib/steps/clusters_azure.go
  lib/steps/clusters_helpers.go
  lib/steps/helm_aws.go
Due: test-lib

Move Karpenter CRD rationale to docs, trim code comment
  docs/infrastructure/karpenter-crds.md
  lib/steps/helm_aws.go
Due: test-lib

chore(release): 1.32.1 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  c1db131ff8a7a6743bcc6ac270ba75f88fae2d87
Due: none

fix: address eject review comments
  lib/eject/control_room.go
  lib/eject/control_room_test.go
  lib/eject/eject.go
Due: test-lib

fix(azure): resolve bastion NSG subnet from any agent pool profile
  lib/azure/aks.go
Due: test-lib

fix: grant pull-requests write permission so Claude can post reviews
  .github/workflows/claude-auto-review.yml
Due: none

chore(release): 1.32.2 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  5ae993a078cf8189de1ea2a866a5f056cbd3fd69
Due: none

eject: centralize mimir-auth secret name derivation
  lib/eject/control_room.go
  lib/eject/mimir.go
Due: test-lib

eject: write record once and simplify preflight result
  lib/eject/eject.go
  lib/eject/preflight.go
  lib/eject/preflight_test.go
Due: test-lib

eject: drop redundant skip check in preflight Passed test
  lib/eject/preflight_test.go
Due: test-lib

fix(sites): stop copying cloud resource tags onto Site k8s labels
  lib/steps/sites.go
  lib/steps/sites_test.go
Due: test-lib

eject: comment out control_room_* fields in the bundle config copy
  lib/eject/config_copy.go
  lib/eject/config_copy_test.go
Due: test-lib

fix: expand allowedTools so Claude can read PR context
  .github/workflows/claude-auto-review.yml
Due: none

fix: expand claude.yml allowedTools, add ANTHROPIC_DEFAULT_HAIKU_MODEL
  .github/workflows/claude.yml
Due: none
