Repository posit-dev/ptd: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-python-pulumi, test-cmd, test-lib

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format
        name: Format code
        entry: just format
        language: system
        pass_filenames: false

      - id: check
        name: Lint code
        entry: just check
        language: system
        pass_filenames: false

      - id: test-python-pulumi
        name: Test Python Pulumi
        entry: just test-python-pulumi
        language: system
        pass_filenames: false
        files: ^python-pulumi/.*\.py$

      - id: test-cmd
        name: Test CLI
        entry: just test-cmd
        language: system
        pass_filenames: false
        files: ^cmd/.*\.go$

      - id: test-lib
        name: Test lib
        entry: just test-lib
        language: system
        pass_filenames: false
        files: ^lib/.*\.go$

Notes added by 'git notes add'
  654095009e4869354a14746bff3dc8830f4c9dcd
Due: none

fix(clusters-azure): use corev1.NewConfigMapPatch for CoreDNS forwarding ConfigMap
  lib/steps/clusters_azure.go
Due: test-lib

chore(release): 1.26.4 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  e24c35b4c28505154c08dd2820b717d8349aa7b8
Due: none

Fix attestation bugs: state backend URL, backup file filtering, VNet name support
  lib/attestation/attestation.go
  lib/attestation/attestation_test.go
  lib/attestation/markdown.go
  lib/attestation/pdf.go
  lib/attestation/prose.go
  lib/pulumi/pulumi.go
Due: test-lib

Revert pulumi.go slog change — not part of attestation fixes
  lib/pulumi/pulumi.go
Due: test-lib

Increase Alloy remote_write max_shards from 3 to 10
  lib/steps/helm_helpers.go
Due: test-lib

fix: default Karpenter NodePool weight to 100 when unset
  lib/steps/helm_aws.go
Due: test-lib

chore(release): 1.26.5 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  30f1a3c05f1681c6675a5e75cf3e0db03a168896
Due: none

fix: add CPU limits to Mimir store-gateway and Traefik
  lib/steps/helm_aws.go
  lib/steps/helm_azure.go
  python-pulumi/src/ptd/pulumi_resources/aws_eks_cluster.py
  python-pulumi/src/ptd/pulumi_resources/traefik.py
Due: test-python-pulumi, test-lib

chore(release): 1.26.6 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  0cf24d713d66737d17b109e8a31f34d44eaff31d
Due: none

feat: add snapshot and backup protection to Azure NetApp volumes
  lib/helpers/helpers.go
  lib/types/workload.go
  python-pulumi/src/ptd/azure_workload.py
  python-pulumi/src/ptd/pulumi_resources/azure_workload_persistent.py
Due: test-python-pulumi, test-lib

fix: address review feedback on NetApp backup PR
  lib/helpers/helpers.go
  lib/types/workload.go
  python-pulumi/src/ptd/pulumi_resources/azure_workload_persistent.py
Due: test-python-pulumi, test-lib

chore(release): 1.27.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  eeaa476a64c003fc5eb2f5cb76b4c5c8556f83ab
Due: none

Switch to reusable Claude auto-review workflow from ptd-workspace
  .github/workflows/claude-auto-review.yml
Due: none

fix: configure metrics-server for EKS host networking
  lib/steps/helm_aws.go
  python-pulumi/src/ptd/pulumi_resources/aws_eks_cluster.py
Due: test-python-pulumi, test-lib

revert: remove unneeded metrics-server values from control room path
  python-pulumi/src/ptd/pulumi_resources/aws_eks_cluster.py
Due: test-python-pulumi

chore(release): 1.27.1 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  d4c07d73e258c9bf5025e8234a84b89bfb05500a
Due: none

fix: tune Azure NetApp workbench-shared volumes and enable backup enforcement
  python-pulumi/src/ptd/azure_workload.py
  python-pulumi/src/ptd/pulumi_resources/azure_workload_persistent.py
  python-pulumi/tests/test_azure_netapp_volumes.py
Due: test-python-pulumi
