Repository posit-dev/ptd: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-python-pulumi, test-cmd, test-lib

test-python-pulumi:
  name: Test Python Pulumi
  entry: just test-python-pulumi
  language: system
  pass_filenames: false

test-cmd:
  name: Test CLI
  entry: just test-cmd
  language: system
  pass_filenames: false

test-lib:
  name: Test lib
  entry: just test-lib
  language: system
  pass_filenames: false

fix: fetch Karpenter subnet/SG IDs from EKS cluster VPC config
  cmd/go.mod
  cmd/go.sum
  lib/aws/ec2.go
  lib/aws/eks.go
  lib/go.mod
  lib/go.sum
  lib/steps/helm_aws.go
Due: test-lib

fix: retain Python naming conventions in AWS helm step migration
  lib/steps/helm_aws.go
Due: test-lib

fix: default public_load_balancer to true (internet-facing) matching Python
  lib/steps/helm_aws.go
  lib/types/workload.go
  lib/types/workload_test.go
Due: test-lib

fix: match Python output details for Traefik ingress and Alloy values
  lib/steps/helm_aws.go
Due: test-lib

fix: restore Alloy cluster label and k8s provider settings from Python
  cmd/go.mod
  cmd/go.sum
  lib/go.mod
  lib/go.sum
  lib/steps/helm_aws.go
Due: test-lib

fix: remove EnableServerSideApply from k8s provider (not set in other migrated steps)
  lib/steps/helm_aws.go
Due: test-lib

revert: restore pulumi-kubernetes SDK to v4.21.1 to keep Azure provider stable
  cmd/go.mod
  cmd/go.sum
  lib/go.mod
  lib/go.sum
Due: none

fix: use deterministic workload port instead of hardcoded 1080 for proxy
  lib/steps/helm_aws.go
  lib/steps/helm_azure.go
Due: test-lib

fix: synthesize session taint in overprovisioning tolerations matching NodePool logic
  lib/steps/helm_aws.go
Due: test-lib

Fix alloy cluster label to include release key (date suffix)
  lib/steps/helm_aws.go
Due: test-lib

chore(release): 1.26.1 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  3f7c278f855dbd85a6272f993eaeba35147bb1c7
Due: none

fix: remove min node count for azure user pools
  lib/azure/validation.go
  lib/azure/validation_test.go
Due: test-lib

Use exec-plugin kubeconfig in helm and clusters AWS steps
  lib/kube/config.go
  lib/steps/clusters_aws.go
  lib/steps/helm_aws.go
  lib/steps/sites.go
Due: test-lib

chore(release): 1.26.2 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  e34b86110bba62d2d2da63b81b7350a7d2464663
Due: none

Use stable azurecli login for AKS kubeconfig in all steps
  lib/kube/config.go
  lib/steps/clusters_azure.go
  lib/steps/helm_azure.go
  lib/steps/sites.go
Due: test-lib

Harden Traefik and Alloy remote_write for control room resilience
  lib/steps/helm_helpers.go
  python-pulumi/src/ptd/pulumi_resources/traefik.py
Due: test-python-pulumi, test-lib

fix(azure): use per-site domains for Traefik Ingress generation
  lib/steps/clusters_azure.go
Due: test-lib

Fix Traefik Ingress cluster-issuer annotation to use root_domain when configured
  lib/steps/clusters_azure.go
Due: test-lib

chore(release): 1.26.3 [skip ci]
  CHANGELOG.md
Due: none

Path conditions:
  test-python-pulumi: any of: ^python-pulumi/.*\.py$
  test-cmd: any of: ^cmd/.*\.go$
  test-lib: any of: ^lib/.*\.go$
