Repository posit-dev/ptd: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-python-pulumi, test-cmd, test-lib

test-python-pulumi:
  name: Test Python Pulumi
  entry: just test-python-pulumi
  language: system
  pass_filenames: false

test-cmd:
  name: Test CLI
  entry: just test-cmd
  language: system
  pass_filenames: false

test-lib:
  name: Test lib
  entry: just test-lib
  language: system
  pass_filenames: false

refactor(proxy): remove dead Wait() methods from aws/azure ProxySession
  lib/aws/proxy.go
  lib/azure/proxy.go
Due: test-lib

chore(release): 1.22.1 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  e4df32f0887d06fcf2076825afcd31629d5ff9d3
Due: none

accept chart defaults
  python-pulumi/src/ptd/pulumi_resources/azure_workload_helm.py
Due: test-python-pulumi

remove inert chart values
  python-pulumi/src/ptd/pulumi_resources/azure_workload_helm.py
Due: test-python-pulumi

chore(release): 1.23.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  3dbbbd9b9b2b5b88a04b5bf7685c1340efaafed7
Due: none

fix: conditionally emit control_room remote_write when control_room_domain is set
  lib/steps/helm_helpers.go
Due: test-lib

docs: add Go large files section to CLAUDE.md
  CLAUDE.md
Due: none

chore: remove Python test files and update comments for deleted helm modules
  python-pulumi/src/ptd/grafana_alerts/azure_netapp.yaml
  python-pulumi/src/ptd/grafana_alerts/azure_postgres.yaml
  python-pulumi/src/ptd/grafana_alerts/azure_storage.yaml
  python-pulumi/src/ptd/grafana_alerts/loadbalancer.yaml
  python-pulumi/src/ptd/grafana_alerts/rds.yaml
  python-pulumi/tests/test_alb_tags.py
  python-pulumi/tests/test_azure_alloy_identity.py
  python-pulumi/tests/test_grafana_alloy.py
Due: test-python-pulumi

docs: update references from deleted Python helm modules to Go equivalents
  CLAUDE.md
  docs/architecture/pulumi-conventions.md
  docs/guides/monitoring.md
  python-pulumi/TESTING.md
Due: none

refactor: migrate helm step from Python Pulumi to inline Go Pulumi
  docs/architecture/step-dependencies.md
  docs/cli/ensure-flow.md
  lib/aws/eks.go
  lib/steps/helm.go
  lib/steps/helm_aws.go
  lib/steps/helm_azure.go
  lib/steps/helm_helpers.go
  lib/types/workload.go
  python-pulumi/src/ptd/pulumi_resources/aws_workload_helm.py
  python-pulumi/src/ptd/pulumi_resources/azure_workload_helm.py
  python-pulumi/src/ptd/pulumi_resources/grafana_alloy.py
  python-pulumi/tests/test_stub_import_only.py
Due: test-python-pulumi, test-lib

feat: add Azure nvidia device plugin helm deployment
  lib/steps/helm_azure.go
Due: test-lib

chore(release): 1.24.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  f879e561ced5f3287609feac945418ea6317792f
Due: none

fix(proxy): replace hardcoded port 1080 in all steps with WorkloadPort
  lib/steps/clusters.go
  lib/steps/clusters_aws.go
  lib/steps/clusters_azure.go
  lib/steps/postgres_config.go
  lib/steps/sites.go
Due: test-lib

fix(proxy): kill surviving processes when pruning stale registry entries
  lib/proxy/registry.go
Due: test-lib

refactor(proxy): address PR review feedback
  CLAUDE.md
  cmd/internal/helpers.go
  cmd/proxy.go
  cmd/proxy_test.go
  lib/proxy/proxy.go
  lib/proxy/proxy_test.go
  lib/proxy/registry.go
Due: test-cmd, test-lib

fix(proxy): replace hardcoded port 1080 in Python Pulumi code and remove dead Go fallbacks
  lib/aws/proxy.go
  lib/azure/proxy.go
  python-pulumi/src/ptd/aws_workload.py
  python-pulumi/src/ptd/azure_workload.py
  python-pulumi/src/ptd/pulumi_resources/aws_eks_cluster.py
Due: test-python-pulumi, test-lib

fix(proxy): thread proxy port through SetupKubeConfig so kubeconfig uses the correct SOCKS5 port
  cmd/k9s.go
  cmd/workon.go
  lib/kube/setup.go
Due: test-cmd, test-lib

feat(proxy): add locked registry, deterministic ports, and new management commands
  CLAUDE.md
  cmd/ensure.go
  cmd/internal/helpers.go
  cmd/k9s.go
  cmd/proxy.go
  cmd/proxy_test.go
  cmd/workon.go
  lib/kube/proxy.go
  lib/proxy/proxy.go
  lib/proxy/proxy_test.go
  lib/proxy/registry.go
  lib/proxy/registry_test.go
Due: test-cmd, test-lib

fix(proxy): use context.Background() in daemon mode so subprocess survives ptd exit
  cmd/proxy.go
Due: test-cmd

Path conditions:
  test-python-pulumi: any of: ^python-pulumi/.*\.py$
  test-cmd: any of: ^cmd/.*\.go$
  test-lib: any of: ^lib/.*\.go$
