Repository posit-dev/ptd: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-python-pulumi, test-cmd, test-lib

test-python-pulumi:
  name: Test Python Pulumi
  entry: just test-python-pulumi
  language: system
  pass_filenames: false

test-cmd:
  name: Test CLI
  entry: just test-cmd
  language: system
  pass_filenames: false

test-lib:
  name: Test lib
  entry: just test-lib
  language: system
  pass_filenames: false

fix: remove ANTHROPIC_DEFAULT_HAIKU_MODEL, not needed
  .github/workflows/claude.yml
Due: none

chore(release): 1.32.3 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  206a28883a274bd0659f7e23e2408a9271b62458
Due: none

chore(release): 1.33.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  ed04b6d2d8e3b17da56216a1cc0d412798198558
Due: none

feat(azure): tag resource group with workload resource_tags on creation
  lib/azure/resourcegroup.go
  lib/azure/resourcegroup_test.go
  lib/steps/bootstrap.go
  lib/steps/persistent_azure.go
  lib/steps/persistent_test.go
Due: test-lib

chore(azure): address review feedback on RG tagging
  lib/azure/resourcegroup.go
  lib/steps/bootstrap.go
Due: test-lib

chore(release): 1.34.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  54da8847868bf80c10fcbdeea6db0977ac91d3c9
Due: none

fix: address runbook review comments
  lib/azure/target.go
  lib/eject/eject.go
  lib/eject/runbooks.go
  lib/eject/runbooks_test.go
Due: test-lib

fix: default team-operator chart to v1.27.1
  lib/steps/clusters.go
Due: test-lib

chore(release): 1.34.1 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  d31dc6c4e7a7abfa082f6dac6337d0b8803e7ec5
Due: none

docs(eject): make TLS cert runbook section cloud-specific
  lib/eject/runbooks.go
  lib/eject/runbooks_test.go
Due: test-lib

docs(eject): drop redundant rollout-status verify step
  lib/eject/runbooks.go
Due: test-lib

docs(eject): remove inaccurate Database Passwords section
  lib/eject/runbooks.go
Due: test-lib

fix(deps): bump golang.org/x/image to v0.43.0
  cmd/go.mod
  cmd/go.sum
  lib/go.mod
  lib/go.sum
Due: none

chore(release): 1.34.2 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  7c329fbf0e4ff761301a4841927f8a2ff2682dfe
Due: none

docs(eject): correct disaster-recovery runbook logic
  lib/eject/runbooks.go
Due: test-lib

docs(eject): correct product deployment names in day-to-day runbook
  lib/eject/runbooks.go
Due: test-lib

docs(eject): clarify RSA key rotation impact in day-to-day runbook
  lib/eject/runbooks.go
Due: test-lib

fix(eject): use real cluster names in operational runbooks
  lib/eject/eject.go
  lib/eject/runbooks_test.go
Due: test-lib

chore(release): 1.35.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  3eba3d9ac00f190aae2e988fb4b3d433542213cc
Due: none

refactor: relocate workload IRSA roles to eks, remove persistent_reprise
  docs/architecture/step-dependencies.md
  docs/cli/PTD_CLI_REFERENCE.md
  docs/cli/ensure-flow.md
  lib/aws/eks.go
  lib/steps/eks_aws.go
  lib/steps/eks_aws_test.go
  lib/steps/eks_irsa_aws.go
  lib/steps/persistent_aws.go
  lib/steps/persistent_helpers.go
  lib/steps/persistent_reprise.go
  lib/steps/persistent_test.go
  lib/steps/steps.go
Due: test-lib

refactor: address review feedback on IRSA relocation
  lib/steps/eks_aws.go
  lib/steps/eks_aws_test.go
  lib/steps/persistent_aws.go
  lib/steps/persistent_test.go
Due: test-lib

docs(eject): drop persistent_reprise from runbooks after step removal
  CLAUDE.md
  lib/eject/runbooks.go
  lib/eject/runbooks_test.go
Due: test-lib

fix: resolve kubernetes step alias to eks/aks in workon
  cmd/workon.go
  lib/steps/selector.go
  lib/steps/steps.go
  lib/steps/steps_test.go
Due: test-cmd, test-lib

address review: unexport selector.nameForProvider
  lib/steps/selector.go
  lib/steps/steps.go
Due: test-lib

chore(release): 1.35.1 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  4f73f8900be7782307f0b33a940d544724ffdc42
Due: none

fix(lib): bump pdfcpu to v0.13.0 to remediate uncontrolled-recursion advisories
  cmd/go.mod
  cmd/go.sum
  lib/go.mod
  lib/go.sum
Due: none

chore(release): 1.35.2 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  bfc45ca59c006f961d5649d871bced47a5e08b5d
Due: none

feat(alerts): add Launcher Pod Pending alert for stuck session/content pods
  lib/steps/assets/grafana_alerts/pods.yaml
Due: none

fix(alerts): add deleteRules entry and opsgenie label for launcher_pod_pending
  lib/steps/assets/grafana_alerts/pods.yaml
Due: none

chore(release): 1.36.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  6af12197dab8ca19b9b14045ccc99be5680d6473
Due: none

fix(aks): restore user node pool SecurityProfile and drop conflicting powerState ignore
  cmd/go.mod
  cmd/go.sum
  lib/go.mod
  lib/go.sum
  lib/steps/aks.go
Due: test-lib

Path conditions:
  test-python-pulumi: any of: ^python-pulumi/.*\.py$
  test-cmd: any of: ^cmd/.*\.go$
  test-lib: any of: ^lib/.*\.go$
