Repository posit-dev/ptd: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-python-pulumi, test-cmd, test-lib

test-python-pulumi:
  name: Test Python Pulumi
  entry: just test-python-pulumi
  language: system
  pass_filenames: false

test-cmd:
  name: Test CLI
  entry: just test-cmd
  language: system
  pass_filenames: false

test-lib:
  name: Test lib
  entry: just test-lib
  language: system
  pass_filenames: false

refactor: copy entire workload directory instead of select files
  lib/eject/config_copy.go
  lib/eject/config_copy_test.go
Due: test-lib

chore(release): 1.13.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  5c25962e064a3fea4d96cbc58db275a83898b876
Due: none

docs: remove stale migration comments
  python-pulumi/src/ptd/__init__.py
  python-pulumi/src/ptd/pulumi_resources/team_operator.py
Due: test-python-pulumi

feat: enumerate secret references from known PTD conventions
  lib/eject/secrets.go
  lib/eject/secrets_test.go
Due: test-lib

fix: drop mimir from workload purpose string, hoist siteSecretFields
  lib/eject/secrets.go
Due: test-lib

chore(release): 1.14.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  10c47c7bb642fae0b5e44236265402c43e478580
Due: none

fix: remove okta-oidc-client-creds from secret catalog
  lib/eject/secrets.go
  lib/eject/secrets_test.go
Due: test-lib

feat: rewrite clusters step in Go, retire Python implementation
  cmd/go.mod
  cmd/go.sum
  docs/architecture/step-dependencies.md
  docs/cli/ensure-flow.md
  lib/aws/eks.go
  lib/azure/aks.go
  lib/go.mod
  lib/go.sum
  lib/kube/setup.go
  lib/pulumi/inline.go
  lib/steps/clusters.go
  lib/steps/clusters_test.go
  lib/steps/sites.go
  lib/types/workload.go
  python-pulumi/src/ptd/pulumi_resources/aws_karpenter.py
  python-pulumi/src/ptd/pulumi_resources/aws_workload_clusters.py
  python-pulumi/src/ptd/pulumi_resources/azure_files_csi.py
  python-pulumi/src/ptd/pulumi_resources/azure_traefik.py
  python-pulumi/src/ptd/pulumi_resources/azure_workload_clusters.py
  python-pulumi/src/ptd/pulumi_resources/cert_manager.py
  python-pulumi/src/ptd/pulumi_resources/external_dns.py
  python-pulumi/src/ptd/pulumi_resources/keycloak_operator.py
  python-pulumi/src/ptd/pulumi_resources/kubernetes_role.py
  python-pulumi/src/ptd/pulumi_resources/network_policies.py
  python-pulumi/src/ptd/pulumi_resources/traefik_forward_auth.py
  python-pulumi/src/ptd/pulumi_resources/traefik_forward_auth_aws.py
  python-pulumi/tests/test_stub_import_only.py
Due: test-python-pulumi, test-lib

Split clusters.go into AWS/Azure/helpers files, fix docs
  docs/architecture/step-dependencies.md
  lib/steps/clusters.go
  lib/steps/clusters_aws.go
  lib/steps/clusters_azure.go
  lib/steps/clusters_helpers.go
Due: test-lib

Rename ByRelease fields/vars to ByCluster, fix per-release comments
  lib/steps/clusters_aws.go
  lib/steps/clusters_azure.go
  lib/steps/clusters_test.go
Due: test-lib

Implement custom_k8s_resources in Go clusters step
  lib/steps/clusters_aws.go
  lib/steps/clusters_azure.go
  lib/steps/clusters_helpers.go
  lib/types/workload.go
Due: test-lib

chore(release): 1.15.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  fed84977e84836ca201c948e5702ddcc7d07a370
Due: none

docs updates and groups labels output for metrics
  docs/CONFIGURATION.md
  docs/team-operator/README.md
  python-pulumi/src/ptd/pulumi_resources/azure_workload_helm.py
Due: test-python-pulumi

documentation update, link to team-operator
  docs/team-operator/README.md
Due: none

feat: generate eject handoff PDF and markdown document
  cmd/eject.go
  lib/attestation/attestation.go
  lib/attestation/attestation_test.go
  lib/attestation/markdown.go
  lib/attestation/pdf.go
  lib/attestation/prose.go
  lib/attestation/prose_test.go
  lib/eject/eject.go
  lib/eject/handoff.go
  lib/eject/markdown.go
  lib/eject/pdf.go
  lib/eject/prose.go
Due: test-cmd, test-lib

refactor: rename handoff output files from eject to handoff
  lib/eject/eject.go
Due: test-lib

feat: add Claude auto-review and PR assistant workflows
  .github/workflows/claude-auto-review.yml
  .github/workflows/claude.yml
Due: none

bump default team-operator chart version and subsequent operator version
  python-pulumi/src/ptd/pulumi_resources/team_operator.py
Due: test-python-pulumi

fix(sites): use exec plugin kubeconfig to eliminate token-rotation state diffs
  lib/kube/config.go
  lib/steps/sites.go
Due: test-lib

Path conditions:
  test-python-pulumi: any of: ^python-pulumi/.*\.py$
  test-cmd: any of: ^cmd/.*\.go$
  test-lib: any of: ^lib/.*\.go$
