Repository posit-dev/ptd: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-python-pulumi, test-cmd, test-lib

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format
        name: Format code
        entry: just format
        language: system
        pass_filenames: false

      - id: check
        name: Lint code
        entry: just check
        language: system
        pass_filenames: false

      - id: test-python-pulumi
        name: Test Python Pulumi
        entry: just test-python-pulumi
        language: system
        pass_filenames: false
        files: ^python-pulumi/.*\.py$

      - id: test-cmd
        name: Test CLI
        entry: just test-cmd
        language: system
        pass_filenames: false
        files: ^cmd/.*\.go$

      - id: test-lib
        name: Test lib
        entry: just test-lib
        language: system
        pass_filenames: false
        files: ^lib/.*\.go$

fix: use runtime.Caller instead of git rev-parse in test setup
  lib/testdata/testdata.go
Due: test-lib

Convert sites step from Python to inline Go Pulumi
  cmd/go.mod
  cmd/go.sum
  docs/architecture/step-dependencies.md
  docs/cli/ensure-flow.md
  lib/aws/rds.go
  lib/aws/target_test.go
  lib/azure/target_test.go
  lib/go.mod
  lib/go.sum
  lib/helpers/maps.go
  lib/kube/config.go
  lib/steps/sites.go
  lib/steps/sites_test.go
  lib/types/workload.go
  lib/types/workload_test.go
  python-pulumi/src/ptd/pulumi_resources/aws_workload_clusters.py
  python-pulumi/src/ptd/pulumi_resources/aws_workload_sites.py
  python-pulumi/src/ptd/pulumi_resources/azure_workload_sites.py
  python-pulumi/src/ptd/pulumi_resources/team_site.py
  python-pulumi/src/ptd/site_templates/core.posit.team_v1beta1_site.yaml
  python-pulumi/tests/test_stub_import_only.py
  scripts/validate-config-sync.py
Due: test-python-pulumi, test-lib

Replace pre-fetch RDS SDK call with Pulumi data source lookup
  cmd/go.mod
  cmd/go.sum
  lib/aws/rds.go
  lib/go.mod
  lib/go.sum
  lib/steps/sites.go
  lib/steps/sites_test.go
Due: test-lib

fix: upgrade pulumi-aws and pass force_update_version to both Cluster and NodeGroup
  python-pulumi/pyproject.toml
  python-pulumi/src/ptd/pulumi_resources/aws_eks_cluster.py
Due: test-python-pulumi

chore(release): 1.8.1 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  db5ed243f0d101f3a80119888e8653af16239aca
Due: none

fix: update uv.lock for pulumi-aws 6.78.0
  python-pulumi/uv.lock
Due: none

chore(release): 1.8.2 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  0432f795dd2dd4655c12499994ea7ce7bef22046
Due: none

update symlink to fix path bug
  CLAUDE.md
  Justfile
Due: none

update symlinks
  Justfile
Due: none

update symlink recipe
  Justfile
Due: none

labels controller to update session pods
  python-pulumi/src/ptd/__init__.py
  python-pulumi/src/ptd/pulumi_resources/team_operator.py
Due: test-python-pulumi

Address PR review feedback on sites step
  lib/steps/sites.go
  lib/steps/sites_test.go
  lib/types/workload.go
Due: test-lib

chore(release): 1.8.3 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  c9633aa5dc44bca2b75aafe66afa93efa3b89ec3
Due: none

Add attestation library for workload deployment tracking
  lib/attestation/attestation.go
  lib/aws/s3.go
Due: test-lib

Add documentation for attestation package
  lib/attestation/README.md
Due: none

Add ptd attestation CLI command with markdown and PDF output
  cmd/attestation.go
  cmd/go.mod
  cmd/go.sum
  lib/attestation/attestation.go
  lib/attestation/markdown.go
  lib/attestation/pdf.go
  lib/attestation/prose.go
  lib/go.mod
  lib/go.sum
Due: test-cmd, test-lib

Add Azure support and improve attestation document styling
  cmd/go.mod
  cmd/go.sum
  lib/attestation/attestation.go
  lib/attestation/markdown.go
  lib/attestation/pdf.go
  lib/attestation/prose.go
  lib/azure/blobstate.go
  lib/go.mod
  lib/go.sum
Due: test-lib

Mark attestation command as experimental in help text
  cmd/attestation.go
Due: test-cmd

Remove guessed defaults from attestation prose
  lib/attestation/prose.go
Due: test-lib
