Repository posit-dev/ptd: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-python-pulumi, test-cmd, test-lib

test-python-pulumi:
  name: Test Python Pulumi
  entry: just test-python-pulumi
  language: system
  pass_filenames: false

test-cmd:
  name: Test CLI
  entry: just test-cmd
  language: system
  pass_filenames: false

test-lib:
  name: Test lib
  entry: just test-lib
  language: system
  pass_filenames: false

ci: inline claude auto review workflow
  .github/workflows/claude-auto-review.yml
Due: none

chore(release): 1.27.2 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  14c1c5701a1e70015691dad150a658a0a8a1983a
Due: none

Filter metrics before control room remote_write
  lib/steps/helm_helpers.go
Due: test-lib

fix: use azurecli login for AKS kubeconfig and fix az symlink in symlink-binaries
  Justfile
  lib/kube/setup.go
  lib/steps/clusters_aws.go
  lib/steps/clusters_azure.go
  lib/steps/clusters_helpers.go
Due: test-lib

fix: remove dead Bundle struct and check test WriteFile errors
  lib/eject/eject.go
  lib/eject/eject_test.go
Due: test-lib

chore: bump default team-operator chart version to v1.25.0
  lib/steps/clusters.go
Due: test-lib

Add --title flag and polish attestation rendering
  cmd/attestation.go
  lib/attestation/attestation.go
  lib/attestation/markdown.go
  lib/attestation/pdf.go
Due: test-cmd, test-lib

chore: bump default EKS cluster_version to 1.35
  python-pulumi/src/ptd/aws_workload.py
Due: test-python-pulumi

chore: bump default AKS kubernetes_version to 1.35.4
  python-pulumi/src/ptd/azure_workload.py
Due: test-python-pulumi

fix: keep EKS nodegroup launch template default version in sync
  python-pulumi/src/ptd/pulumi_resources/aws_workload_eks.py
Due: test-python-pulumi

chore(release): 1.27.3 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  ec4a6194d767e8d23981b101412c7870ef3add99
Due: none

fix: keep control room EKS nodegroup launch template default version in sync
  python-pulumi/src/ptd/pulumi_resources/aws_control_room_cluster.py
Due: test-python-pulumi

chore(release): 1.27.4 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  ecfccd822b36bd0903ba004221cff0e2e1aa03a4
Due: none

chore: bump default team-operator chart version to v1.26.0
  lib/steps/clusters.go
Due: test-lib

fix: align attestation domainPrefix defaults with team-operator CRD
  lib/attestation/attestation.go
Due: test-lib

feat: default secrets-store CSI to EKS addon and adopt CRDs cleanly
  lib/attestation/attestation.go
  lib/steps/helm_aws.go
  lib/types/workload.go
  python-pulumi/src/ptd/aws_workload.py
  python-pulumi/src/ptd/pulumi_resources/aws_eks_cluster.py
Due: test-python-pulumi, test-lib

chore(release): 1.28.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  05112e6ba412299d7d6678c37e237ff008caba00
Due: none

fix: rm -f stale az entry before writing wrapper
  Justfile
Due: none

chore(release): 1.28.1 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  241329e0661080a52ee9049a3e35f914d44e8fb5
Due: none

chore(release): 1.28.2 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  c39314ffd931a1ca085a214b33c3b1afd673c01c
Due: none

Migrate EBS CSI driver IAM to AmazonEBSCSIDriverPolicyV2
  python-pulumi/src/ptd/pulumi_resources/aws_eks_cluster.py
  python-pulumi/src/ptd/pulumi_resources/aws_workload_persistent.py
Due: test-python-pulumi

Use correct ARN path for AmazonEBSCSIDriverPolicyV2
  python-pulumi/src/ptd/pulumi_resources/aws_eks_cluster.py
  python-pulumi/src/ptd/pulumi_resources/aws_workload_persistent.py
Due: test-python-pulumi

Bump default RDS Postgres versions to latest patches
  docs/CONFIGURATION.md
  examples/workload/ptd.yaml
  python-pulumi/src/ptd/aws_control_room.py
  python-pulumi/src/ptd/aws_workload.py
Due: test-python-pulumi

refactor: generate control room metric filter from alert/dashboard sources
  lib/steps/control_room_metric_filter.go
  lib/steps/control_room_metric_filter_test.go
  lib/steps/helm_aws.go
  lib/steps/helm_azure.go
  lib/steps/helm_helpers.go
  lib/types/workload.go
Due: test-lib

fix(proxy): use OR-semantics for dual-PID IsRunning
  lib/proxy/proxy.go
  lib/proxy/proxy_test.go
Due: test-lib

Path conditions:
  test-python-pulumi: any of: ^python-pulumi/.*\.py$
  test-cmd: any of: ^cmd/.*\.go$
  test-lib: any of: ^lib/.*\.go$
