Repository posit-dev/ptd: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-python-pulumi, test-cmd, test-lib

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format
        name: Format code
        entry: just format
        language: system
        pass_filenames: false

      - id: check
        name: Lint code
        entry: just check
        language: system
        pass_filenames: false

      - id: test-python-pulumi
        name: Test Python Pulumi
        entry: just test-python-pulumi
        language: system
        pass_filenames: false
        files: ^python-pulumi/.*\.py$

      - id: test-cmd
        name: Test CLI
        entry: just test-cmd
        language: system
        pass_filenames: false
        files: ^cmd/.*\.go$

      - id: test-lib
        name: Test lib
        entry: just test-lib
        language: system
        pass_filenames: false
        files: ^lib/.*\.go$

Address review findings (job 125)
  cmd/internal/verify/job.go
  cmd/internal/verify/keycloak.go
  cmd/internal/verify/keycloak_test.go
  cmd/internal/verify/verify.go
Due: test-cmd

Address review findings (job 114)
  cmd/internal/verify/job.go
  cmd/internal/verify/keycloak.go
  cmd/internal/verify/verify.go
  cmd/internal/verify/verify_test.go
Due: test-cmd

Address review findings (job 100)
  cmd/internal/verify/job.go
  cmd/internal/verify/keycloak.go
  cmd/internal/verify/verify.go
  cmd/internal/verify/verify_test.go
  cmd/verify.go
Due: test-cmd

Address review findings (job 112)
  cmd/internal/verify/job.go
  cmd/internal/verify/verify.go
  cmd/internal/verify/verify_test.go
Due: test-cmd

Address review findings (job 103)
  cmd/internal/verify/job.go
  cmd/internal/verify/keycloak.go
  cmd/internal/verify/verify.go
  cmd/internal/verify/verify_test.go
  cmd/verify.go
Due: test-cmd

Address review findings (job 121)
  cmd/internal/verify/job.go
  cmd/internal/verify/keycloak.go
  cmd/internal/verify/keycloak_test.go
  cmd/internal/verify/verify.go
  cmd/internal/verify/verify_test.go
Due: test-cmd

Address review findings (job 118)
  cmd/internal/verify/job.go
  cmd/internal/verify/keycloak.go
  cmd/internal/verify/verify.go
Due: test-cmd

Add ptd verify documentation and auth mode guide
  docs/cli/PTD_CLI_REFERENCE.md
  docs/cli/verify.md
Due: none

Address review findings (job 92)
  cmd/internal/verify/config.go
  cmd/internal/verify/job.go
  cmd/internal/verify/keycloak.go
Due: test-cmd

Address review findings (job 124)
  cmd/internal/verify/config.go
  cmd/internal/verify/job.go
  cmd/internal/verify/keycloak.go
  cmd/internal/verify/verify_test.go
Due: test-cmd

Add --interactive-auth flag and cleanup subcommand to ptd verify
  cmd/internal/verify/cleanup.go
  cmd/internal/verify/credentials.go
  cmd/internal/verify/job.go
  cmd/internal/verify/verify.go
  cmd/verify.go
Due: test-cmd

alert creation handled in control room rather than workload
  python-pulumi/src/ptd/pulumi_resources/azure_workload_helm.py
Due: test-python-pulumi

Manage dashboards via IaC
  python-pulumi/src/ptd/grafana_dashboards/alerts_dashboard.json
  python-pulumi/src/ptd/paths.py
  python-pulumi/src/ptd/pulumi_resources/aws_eks_cluster.py
Due: test-python-pulumi

Handle roborev feedback
  python-pulumi/src/ptd/grafana_dashboards/alerts_dashboard.json
  python-pulumi/src/ptd/pulumi_resources/aws_eks_cluster.py
Due: test-python-pulumi

fix(python-pulumi): sanitize dashboard names for Kubernetes RFC 1123 compliance
  python-pulumi/src/ptd/pulumi_resources/aws_eks_cluster.py
Due: test-python-pulumi

fix(python-pulumi): implement robust RFC 1123 name sanitization with validation
  python-pulumi/src/ptd/pulumi_resources/aws_eks_cluster.py
  python-pulumi/src/ptd/pulumi_resources/lib.py
  python-pulumi/tests/test_dashboard_configmaps.py
  python-pulumi/tests/test_lib.py
Due: test-python-pulumi

feat: allow force for cluster upgrades
  lib/consts/consts.go
  lib/go.mod
  lib/go.sum
  lib/steps/aks.go
  lib/types/workload.go
  lib/types/workload_test.go
  python-pulumi/src/ptd/azure_workload.py
Due: test-python-pulumi, test-lib

Add force_node_group_upgrade option for EKS clusters
  docs/CONFIGURATION.md
  examples/workload/ptd.yaml
  python-pulumi/src/ptd/aws_workload.py
  python-pulumi/src/ptd/pulumi_resources/aws_eks_cluster.py
  python-pulumi/src/ptd/pulumi_resources/aws_workload_eks.py
Due: test-python-pulumi

Address review findings (job 807)
  examples/workload/ptd.yaml
  python-pulumi/tests/test_workload_cluster_config.py
Due: test-python-pulumi

Move force_update_version to keyword-only argument
  python-pulumi/src/ptd/pulumi_resources/aws_eks_cluster.py
Due: test-python-pulumi

add aws feature to match and update docs
  docs/CONFIGURATION.md
  docs/cli/PTD_CLI_REFERENCE.md
  python-pulumi/src/ptd/aws_workload.py
  python-pulumi/src/ptd/pulumi_resources/aws_eks_cluster.py
  python-pulumi/src/ptd/pulumi_resources/aws_workload_eks.py
Due: test-python-pulumi

linting fixes
  .pre-commit-config.yaml
  Justfile
  cmd/go.mod
  cmd/go.sum
Due: none

Set default selection to All
  python-pulumi/src/ptd/grafana_dashboards/alerts_dashboard.json
Due: none

Add Kubernetes Global View dashboard
  python-pulumi/src/ptd/grafana_dashboards/k8s-views-global.json
Due: none

fix(grafana): enable multi-cluster support for Kubernetes Global View dashboard
  python-pulumi/src/ptd/grafana_dashboards/k8s-views-global.json
Due: none

refactor(grafana): remove unused variables from Kubernetes Global View dashboard
  python-pulumi/src/ptd/grafana_dashboards/k8s-views-global.json
Due: none

chore(grafana): change default resolution to 1m for Kubernetes Global View
  python-pulumi/src/ptd/grafana_dashboards/k8s-views-global.json
Due: none
