Repository posit-dev/ptd: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-python-pulumi, test-cmd, test-lib

test-python-pulumi:
  name: Test Python Pulumi
  entry: just test-python-pulumi
  language: system
  pass_filenames: false

test-cmd:
  name: Test CLI
  entry: just test-cmd
  language: system
  pass_filenames: false

test-lib:
  name: Test lib
  entry: just test-lib
  language: system
  pass_filenames: false

feat: add RemoveWorkloadMimirPassword for eject severance
  lib/eject/sever.go
  lib/eject/sever_test.go
Due: test-lib

feat: add re-adopt runbook generator for eject bundle
  lib/eject/runbook_re_adopt.go
  lib/eject/runbook_re_adopt_test.go
Due: test-lib

feat: add IAM trust removal runbook for eject bundle
  lib/eject/runbook_remove_access.go
  lib/eject/runbook_remove_access_test.go
Due: test-lib

docs: note that steps must tolerate nil controlRoomTarget
  cmd/ensure.go
Due: test-cmd

fix: make snapshot dynamic, handle numeric IDs, add edge case tests
  lib/eject/config.go
  lib/eject/config_test.go
Due: test-lib

refactor: move re-adopt from generated runbook to static docs guide
  docs/guides/re-adopting-ejected-workload.md
  lib/eject/runbook_re_adopt.go
  lib/eject/runbook_re_adopt_test.go
Due: test-lib

docs: add control room migration use case to re-adopt guide
  docs/guides/re-adopting-ejected-workload.md
Due: none

feat: cloud-specific access removal runbooks, wire into eject
  lib/eject/eject.go
  lib/eject/eject_test.go
  lib/eject/runbook_remove_access.go
  lib/eject/runbook_remove_access_test.go
Due: test-lib

chore(release): 1.18.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  dacc6da09d036e35f4fb14399677d4bc0b5516ec
Due: none

chore(release): 1.19.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  931c5e1b53997cfa3d57036ba4b165cff889f5ec
Due: none

chore(release): 1.20.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  80fa9ac53703f658d4946b7c24df2cd94a6f38a2
Due: none

chore(release): 1.21.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  54b78748537bb8c62b4ba91ff8c6aea1d78bd86d
Due: none

chore: bump default team-operator chart version to v1.23.1
  lib/steps/clusters.go
Due: test-lib

feat: mirror nvidia device plugin for azure
  lib/types/workload.go
  python-pulumi/src/ptd/azure_workload.py
  python-pulumi/src/ptd/pulumi_resources/azure_workload_helm.py
Due: test-python-pulumi, test-lib

fixes to node selector, etc
  python-pulumi/src/ptd/pulumi_resources/azure_workload_helm.py
Due: test-python-pulumi

chore(release): 1.22.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  ec22609009d82409c62b7411fb829adc604937d7
Due: none

fix(proxy): kill subprocess group on stop to avoid Azure tunnel orphan
  cmd/proxy.go
  lib/aws/proxy.go
  lib/azure/proxy.go
  lib/helpers/ps.go
  lib/proxy/proxy.go
Due: test-cmd, test-lib

test(helpers): verify KillProcess reaps the whole process group
  cmd/proxy.go
  lib/azure/proxy.go
  lib/helpers/ps.go
  lib/helpers/ps_test.go
Due: test-cmd, test-lib

Path conditions:
  test-python-pulumi: any of: ^python-pulumi/.*\.py$
  test-cmd: any of: ^cmd/.*\.go$
  test-lib: any of: ^lib/.*\.go$
