Repository posit-dev/ptd: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-python-pulumi, test-cmd, test-lib

test-python-pulumi:
  name: Test Python Pulumi
  entry: just test-python-pulumi
  language: system
  pass_filenames: false

test-cmd:
  name: Test CLI
  entry: just test-cmd
  language: system
  pass_filenames: false

test-lib:
  name: Test lib
  entry: just test-lib
  language: system
  pass_filenames: false

Add ptd verify documentation and auth mode guide
  docs/cli/PTD_CLI_REFERENCE.md
  docs/cli/verify.md
Due: none

Add validation as an allowed environment name
  python-pulumi/src/ptd/__init__.py
Due: test-python-pulumi

docs: update monitoring doc with alert format
  docs/guides/monitoring.md
Due: none

Fix EventBridge IAM permissions chicken-and-egg problem
  lib/aws/iam.go
Due: test-lib

Fix Python lint and formatting errors
  python-pulumi/src/ptd/pulumi_resources/grafana_alloy.py
  python-pulumi/src/ptd/pulumi_resources/lib.py
  python-pulumi/src/ptd/pulumi_resources/traefik.py
  python-pulumi/tests/test_grafana_alloy.py
Due: test-python-pulumi

docs: add architecture documentation and CLAUDE.md guardrails for AI-assisted development
  CLAUDE.md
  docs/README.md
  docs/architecture/config-flow.md
  docs/architecture/pulumi-conventions.md
  docs/architecture/step-dependencies.md
Due: none

docs: add inline docstrings to large Python Pulumi resource files
  python-pulumi/src/ptd/__init__.py
  python-pulumi/src/ptd/aws_workload.py
  python-pulumi/src/ptd/pulumi_resources/aws_eks_cluster.py
  python-pulumi/src/ptd/pulumi_resources/aws_workload_helm.py
  python-pulumi/src/ptd/pulumi_resources/aws_workload_persistent.py
Due: test-python-pulumi

feat: add Go↔Python config sync validation and standardize test fixtures
  .github/workflows/python-pulumi.yml
  Justfile
  python-pulumi/Justfile
  python-pulumi/TESTING.md
  python-pulumi/conftest.py
  python-pulumi/tests/test_shared_fixtures.py
  scripts/validate-config-sync.py
Due: test-python-pulumi

docs: add Azure coverage to architecture docs, CLAUDE.md, and inline docstrings
  CLAUDE.md
  docs/architecture/config-flow.md
  docs/architecture/pulumi-conventions.md
  docs/architecture/step-dependencies.md
  python-pulumi/src/ptd/azure_workload.py
  python-pulumi/src/ptd/pulumi_resources/azure_workload_helm.py
  python-pulumi/src/ptd/pulumi_resources/azure_workload_persistent.py
Due: test-python-pulumi

adding new field for friendly tenant name
  python-pulumi/src/ptd/__init__.py
  python-pulumi/src/ptd/pulumi_resources/grafana_alloy.py
Due: test-python-pulumi

updating format for existing k8s alerts
  python-pulumi/src/ptd/grafana_alerts/nodes.yaml
  python-pulumi/src/ptd/grafana_alerts/pods.yaml
Due: none

updating format for existing healthcheck alerts
  python-pulumi/src/ptd/grafana_alerts/healthchecks.yaml
Due: none

updating format for cloud and system alerts
  python-pulumi/src/ptd/grafana_alerts/applications.yaml
  python-pulumi/src/ptd/grafana_alerts/cloudwatch.yaml
  python-pulumi/src/ptd/grafana_alerts/mimir.yaml
Due: none

revert: undo unintended Justfile change
  python-pulumi/Justfile
Due: none

style: apply Posit style guide to architecture docs and TESTING.md
  docs/architecture/config-flow.md
  docs/architecture/pulumi-conventions.md
  docs/architecture/step-dependencies.md
  python-pulumi/TESTING.md
Due: none

fix: resolve lint errors in test fixtures and conftest
  python-pulumi/conftest.py
  python-pulumi/tests/test_shared_fixtures.py
Due: test-python-pulumi

style: format conftest.py
  python-pulumi/conftest.py
Due: test-python-pulumi

add tenant name field to blackbox healthcheck alerts
  python-pulumi/src/ptd/pulumi_resources/grafana_alloy.py
Due: test-python-pulumi

remove labels output and send tags only
  python-pulumi/src/ptd/pulumi_resources/aws_eks_cluster.py
Due: test-python-pulumi

Add Azure Monitor metric scraping and Alloy managed identity
  python-pulumi/src/ptd/azure_roles.py
  python-pulumi/src/ptd/pulumi_resources/azure_workload_helm.py
  python-pulumi/src/ptd/pulumi_resources/grafana_alloy.py
Due: test-python-pulumi

Add Azure alert rules for PostgreSQL, NetApp, Load Balancer, and Storage
  python-pulumi/src/ptd/grafana_alerts/azure_loadbalancer.yaml
  python-pulumi/src/ptd/grafana_alerts/azure_netapp.yaml
  python-pulumi/src/ptd/grafana_alerts/azure_postgres.yaml
  python-pulumi/src/ptd/grafana_alerts/azure_storage.yaml
Due: none

Path conditions:
  test-python-pulumi: any of: ^python-pulumi/.*\.py$
  test-cmd: any of: ^cmd/.*\.go$
  test-lib: any of: ^lib/.*\.go$
