Repository posit-dev/ptd: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-python-pulumi, test-cmd, test-lib

test-python-pulumi:
  name: Test Python Pulumi
  entry: just test-python-pulumi
  language: system
  pass_filenames: false

test-cmd:
  name: Test CLI
  entry: just test-cmd
  language: system
  pass_filenames: false

test-lib:
  name: Test lib
  entry: just test-lib
  language: system
  pass_filenames: false

Remove guessed defaults from attestation prose
  lib/attestation/prose.go
Due: test-lib

Add unit tests for attestation pure-logic functions
  lib/attestation/attestation_test.go
  lib/attestation/prose_test.go
Due: test-lib

Mark attestation command as experimental in help text
  cmd/attestation.go
Due: test-cmd

Fix AWSWorkloadClusterConfig field access after types refactor
  lib/attestation/attestation.go
Due: test-lib

Add static Azure NetApp Files volume provisioning
  lib/types/workload.go
  python-pulumi/src/ptd/azure_workload.py
  python-pulumi/src/ptd/pulumi_resources/azure_workload_clusters.py
  python-pulumi/src/ptd/pulumi_resources/azure_workload_persistent.py
  python-pulumi/src/ptd/pulumi_resources/trident_operator.py
  python-pulumi/tests/test_azure_netapp_volumes.py
Due: test-python-pulumi, test-lib

Fix root permissions on volumes
  python-pulumi/src/ptd/pulumi_resources/azure_workload_persistent.py
Due: test-python-pulumi

Increase default Azure NetApp volume capacity from 50 to 200 GiB
  python-pulumi/src/ptd/azure_workload.py
  python-pulumi/tests/test_azure_netapp_volumes.py
Due: test-python-pulumi

Add comment regarding Azure netapp volume handoff to team-operator
  lib/steps/sites.go
Due: test-lib

Address PR review feedback
  lib/attestation/README.md
  lib/attestation/attestation.go
  lib/attestation/attestation_test.go
  lib/attestation/markdown.go
  lib/attestation/pdf.go
  lib/attestation/prose.go
Due: test-lib

fix: pin bastion AMI regex to kernel-6.18 variant
  python-pulumi/src/ptd/pulumi_resources/aws_bastion.py
Due: test-python-pulumi

chore(release): 1.8.4 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  6058e26604b34297c4221003dc846161cbf4c075
Due: none

Updates to helm chart for session label injection team-operator feat
  Justfile
  python-pulumi/src/ptd/__init__.py
  python-pulumi/src/ptd/pulumi_resources/team_operator.py
Due: test-python-pulumi

feat: scaffold ptd eject command
  cmd/eject.go
  lib/eject/eject.go
Due: test-cmd, test-lib

Ignore kubeconfig changes on AWS k8s provider to prevent token rotation diffs
  lib/steps/sites.go
Due: test-lib

test: add tests for ptd eject command scaffold
  cmd/eject_test.go
  lib/eject/eject_test.go
Due: test-cmd, test-lib

fix: add mutex to postgres config test mock to prevent data race
  lib/steps/postgres_config_test.go
Due: test-lib

chore(release): 1.8.5 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  cf65b0071c13c2a98efb1d093da24f7df177de3a
Due: none

refactor: use .eject/ dot directory for eject output
  .gitignore
  cmd/eject.go
Due: test-cmd

chore(release): 1.9.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  bf5c2bb6a454c461f168ea7850132e32c724c6c6
Due: none

feat: collect control room connection details for eject
  cmd/eject.go
  lib/eject/control_room.go
  lib/eject/control_room_test.go
  lib/eject/eject.go
  lib/eject/eject_test.go
Due: test-cmd, test-lib

Path conditions:
  test-python-pulumi: any of: ^python-pulumi/.*\.py$
  test-cmd: any of: ^cmd/.*\.go$
  test-lib: any of: ^lib/.*\.go$
