Repository posit-dev/ptd: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-python-pulumi, test-cmd, test-lib

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format
        name: Format code
        entry: just format
        language: system
        pass_filenames: false

      - id: check
        name: Lint code
        entry: just check
        language: system
        pass_filenames: false

      - id: test-python-pulumi
        name: Test Python Pulumi
        entry: just test-python-pulumi
        language: system
        pass_filenames: false
        files: ^python-pulumi/.*\.py$

      - id: test-cmd
        name: Test CLI
        entry: just test-cmd
        language: system
        pass_filenames: false
        files: ^cmd/.*\.go$

      - id: test-lib
        name: Test lib
        entry: just test-lib
        language: system
        pass_filenames: false
        files: ^lib/.*\.go$

Update alert queries to use latest observation
  python-pulumi/src/ptd/grafana_alerts/pods.yaml
Due: none

Add ptd verify command for post-deploy VIP testing
  cmd/go.mod
  cmd/go.sum
  cmd/internal/verify/config.go
  cmd/internal/verify/job.go
  cmd/internal/verify/keycloak.go
  cmd/internal/verify/verify.go
  cmd/verify.go
Due: test-cmd

Address review findings (job 53)
  cmd/internal/verify/config.go
  cmd/internal/verify/job.go
  cmd/internal/verify/keycloak.go
  cmd/internal/verify/verify.go
  cmd/verify.go
Due: test-cmd

Fix YAML injection in Job spec by using JSON serialization
  cmd/internal/verify/job.go
Due: test-cmd

Address review findings (job 58)
  cmd/internal/verify/job.go
  cmd/internal/verify/keycloak.go
  cmd/internal/verify/verify.go
  cmd/internal/verify/verify_test.go
  cmd/verify.go
Due: test-cmd

Add CloudWatch alerting for RDS, NAT Gateway, and Load Balancers
  python-pulumi/src/ptd/grafana_alerts/loadbalancer.yaml
  python-pulumi/src/ptd/grafana_alerts/natgateway.yaml
  python-pulumi/src/ptd/grafana_alerts/rds.yaml
  python-pulumi/src/ptd/pulumi_resources/aws_eks_cluster.py
  python-pulumi/src/ptd/pulumi_resources/grafana_alloy.py
Due: test-python-pulumi

Tag Load Balancers with PTD workload identifiers
  python-pulumi/src/ptd/pulumi_resources/aws_workload_helm.py
  python-pulumi/src/ptd/pulumi_resources/traefik.py
Due: test-python-pulumi

Address review findings (job 60)
  cmd/internal/verify/config.go
  cmd/internal/verify/keycloak.go
  cmd/internal/verify/verify.go
  cmd/internal/verify/verify_test.go
  cmd/verify.go
Due: test-cmd

Address review findings (job 65)
  cmd/internal/verify/config.go
  cmd/internal/verify/job.go
  cmd/internal/verify/keycloak.go
  cmd/internal/verify/verify_test.go
Due: test-cmd

Move test username out of credential-handling code
  cmd/internal/verify/keycloak.go
  cmd/internal/verify/verify.go
  cmd/verify.go
Due: test-cmd

Address code review findings for alerting implementation
  python-pulumi/src/ptd/grafana_alerts/cloudwatch.yaml
  python-pulumi/src/ptd/grafana_alerts/loadbalancer.yaml
  python-pulumi/src/ptd/grafana_alerts/natgateway.yaml
  python-pulumi/src/ptd/grafana_alerts/rds.yaml
  python-pulumi/src/ptd/pulumi_resources/aws_workload_helm.py
  python-pulumi/src/ptd/pulumi_resources/grafana_alloy.py
  python-pulumi/src/ptd/pulumi_resources/traefik.py
Due: test-python-pulumi

Address review findings (job 74)
  cmd/internal/verify/keycloak.go
  cmd/internal/verify/verify.go
  cmd/verify.go
Due: test-cmd

Address review findings (job 75)
  python-pulumi/src/ptd/grafana_alerts/loadbalancer.yaml
  python-pulumi/src/ptd/grafana_alerts/natgateway.yaml
  python-pulumi/src/ptd/grafana_alerts/rds.yaml
  python-pulumi/src/ptd/pulumi_resources/aws_workload_helm.py
  python-pulumi/src/ptd/pulumi_resources/lib.py
  python-pulumi/src/ptd/pulumi_resources/traefik.py
Due: test-python-pulumi

Address review findings (job 78)
  python-pulumi/src/ptd/grafana_alerts/rds.yaml
  python-pulumi/src/ptd/pulumi_resources/aws_workload_helm.py
  python-pulumi/src/ptd/pulumi_resources/lib.py
  python-pulumi/tests/test_lib.py
Due: test-python-pulumi

Address review findings (job 77)
  cmd/internal/verify/config.go
  cmd/internal/verify/job.go
  cmd/internal/verify/keycloak.go
  cmd/internal/verify/verify.go
  cmd/internal/verify/verify_test.go
  cmd/verify.go
Due: test-cmd

Address review findings (job 80)
  python-pulumi/src/ptd/grafana_alerts/rds.yaml
  python-pulumi/src/ptd/pulumi_resources/lib.py
  python-pulumi/src/ptd/pulumi_resources/traefik.py
  python-pulumi/tests/test_lib.py
Due: test-python-pulumi

Address review findings (job 85)
  python-pulumi/src/ptd/grafana_alerts/natgateway.yaml
  python-pulumi/src/ptd/grafana_alerts/rds.yaml
  python-pulumi/src/ptd/pulumi_resources/lib.py
  python-pulumi/src/ptd/pulumi_resources/traefik.py
  python-pulumi/tests/test_lib.py
Due: test-python-pulumi

Address review findings (job 84)
  cmd/internal/verify/job.go
  cmd/internal/verify/keycloak.go
  cmd/internal/verify/verify.go
  cmd/internal/verify/verify_test.go
Due: test-cmd

Address review findings (job 87)
  python-pulumi/src/ptd/pulumi_resources/lib.py
  python-pulumi/src/ptd/pulumi_resources/traefik.py
  python-pulumi/tests/test_lib.py
  python-pulumi/tests/test_traefik_nlb_tags.py
Due: test-python-pulumi

Address review findings (job 90)
  cmd/internal/verify/config.go
  cmd/internal/verify/job.go
  cmd/internal/verify/keycloak.go
  cmd/internal/verify/keycloak_test.go
  cmd/internal/verify/verify_test.go
Due: test-cmd

Address review findings (job 91)
  python-pulumi/src/ptd/pulumi_resources/grafana_alloy.py
  python-pulumi/src/ptd/pulumi_resources/traefik.py
  python-pulumi/tests/test_traefik_nlb_tags.py
Due: test-python-pulumi

Address review findings (job 92)
  cmd/internal/verify/config.go
  cmd/internal/verify/job.go
  cmd/internal/verify/keycloak.go
Due: test-cmd

Address review findings (job 93)
  python-pulumi/src/ptd/pulumi_resources/grafana_alloy.py
  python-pulumi/tests/test_traefik_nlb_tags.py
Due: test-python-pulumi

Address review findings (job 96)
  python-pulumi/src/ptd/pulumi_resources/grafana_alloy.py
  python-pulumi/src/ptd/pulumi_resources/lib.py
  python-pulumi/tests/test_lib.py
Due: test-python-pulumi

Address review findings (job 95)
  cmd/internal/verify/job.go
  cmd/internal/verify/keycloak.go
  cmd/verify.go
Due: test-cmd

Address review findings (job 99)
  python-pulumi/src/ptd/grafana_alerts/natgateway.yaml
  python-pulumi/src/ptd/pulumi_resources/lib.py
Due: test-python-pulumi

Address review findings (job 101)
  python-pulumi/src/ptd/pulumi_resources/grafana_alloy.py
  python-pulumi/src/ptd/pulumi_resources/lib.py
  python-pulumi/tests/test_lib.py
Due: test-python-pulumi
