Repository posit-dev/ptd: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-python-pulumi, test-cmd, test-lib

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format
        name: Format code
        entry: just format
        language: system
        pass_filenames: false

      - id: check
        name: Lint code
        entry: just check
        language: system
        pass_filenames: false

      - id: test-python-pulumi
        name: Test Python Pulumi
        entry: just test-python-pulumi
        language: system
        pass_filenames: false
        files: ^python-pulumi/.*\.py$

      - id: test-cmd
        name: Test CLI
        entry: just test-cmd
        language: system
        pass_filenames: false
        files: ^cmd/.*\.go$

      - id: test-lib
        name: Test lib
        entry: just test-lib
        language: system
        pass_filenames: false
        files: ^lib/.*\.go$

fix(proxy): replace hardcoded port 1080 in all steps with WorkloadPort
  lib/steps/clusters.go
  lib/steps/clusters_aws.go
  lib/steps/clusters_azure.go
  lib/steps/postgres_config.go
  lib/steps/sites.go
Due: test-lib

fix(proxy): set ALL_PROXY in helm step and update docs for new port behavior
  docs/cli/PTD_CLI_REFERENCE.md
  docs/cli/ensure-flow.md
  lib/steps/helm.go
Due: test-lib

fix: correct Alloy ConfigMap Pulumi alias to include AlloyConfig parent type
  lib/steps/helm_azure.go
Due: test-lib

fix: correct Alloy ConfigMap alias and YAML indentation in helm chart CRs
  lib/steps/helm_aws.go
  lib/steps/helm_azure.go
Due: test-lib

fix: mainDomain should use site named "main", not first alphabetically
  lib/steps/helm_aws.go
Due: test-lib

refactor: extract marshalYAML helper, apply 2-space indent to all Azure helm chart values
  lib/steps/helm_aws.go
  lib/steps/helm_azure.go
Due: test-lib

update helm values
  lib/steps/helm_azure.go
Due: test-lib

fix: use yaml.v2 in marshalYAML and correct Azure helm diffs vs Python state
  lib/steps/helm_aws.go
  lib/steps/helm_azure.go
Due: test-lib

chore(release): 1.25.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  0f1f9b1dc8f3f423c9caed746278e88591706f79
Due: none

fix: add dual aliases for AWS provider, AlloyConfig ConfigMap, and mimir-auth Secret
  lib/steps/helm_aws.go
Due: test-lib

fix: use yaml.v2 for Traefik and Karpenter values, harden alias URNs and error handling
  CLAUDE.md
  lib/steps/helm_aws.go
  lib/steps/helm_azure.go
Due: test-lib

docs: add comments explaining marshalYAML boolean quoting scope and Grafana URL escaping
  lib/steps/helm_aws.go
  lib/steps/helm_azure.go
Due: test-lib

chore(release): 1.25.1 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  2586d08fa738382de4a0d54f5258722bddc795e2
Due: none

chore(release): 1.26.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  aee10395bd9544698389598a2296422ac3008d32
Due: none

fix for missing lock file
  lib/pulumi/python.go
Due: test-lib

feat: orchestrate eject with preflight checks, config strip, and Mimir cleanup
  cmd/eject.go
  lib/eject/config_copy.go
  lib/eject/config_copy_test.go
  lib/eject/config_test.go
  lib/eject/control_room.go
  lib/eject/control_room_test.go
  lib/eject/eject.go
  lib/eject/eject_test.go
  lib/eject/mimir.go
  lib/eject/mimir_test.go
  lib/eject/preflight.go
  lib/eject/preflight_test.go
  lib/eject/readme.go
  lib/eject/runbook_remove_access.go
Due: test-cmd, test-lib

Add sample_age_limit to Alloy remote_write to prevent stale retry storms
  lib/steps/helm_helpers.go
Due: test-lib
